@use '../../mixins' as *;
@use '../../variables' as *;

/* Lightboxes
--------------------------------------------- */

#focal-mechanism,
#moment-tensor {
  canvas {
    max-width: 100%;
    position: sticky;
    top: 5rem;
    width: 350px;
  }

  dd {
    max-width: 10rem;
  }

  dl {
    margin: 0;
  }

  td {
    text-align: right;
  }

  .axes {
    td:nth-child(3),
    td:nth-child(4) {
      padding-right: 1.5rem;
    }
  }

  .catalog,
  .contributor,
  .source {
    text-transform: uppercase;
  }

  .content {
    display: flex;
    flex-flow: row nowrap;
    gap: 3rem;
  }

  .planes {
    td:nth-child(2) {
      padding-right: 1.25rem;
    }
  }
}

@media only screen
and (max-width: $breakpoint-phone-width) {
  #focal-mechanism,
  #moment-tensor {
    canvas {
      display: block;
      margin: 1.5rem auto 0;
    }

    .beachball,
    .details {
      width: 100%;
    }
    .beachball {
      order: 0;
    }
    .details {
      order: 1;
    }

    .content {
      flex-flow: row wrap;
    }
  }
}
