@use '../../variables' as *;

/* DYFI, ShakeMap Lightboxes
--------------------------------------------- */

#dyfi,
#shakemap {
  dl {
    margin: 0;
  }

  em {
    font-size: .75rem;
    font-style: normal;

    span {
      text-transform: lowercase;
    }
  }

  img {
    border: 3px solid;
    border-radius: $content-border-radius;
    display: block;
    margin-right: 1px; // 1px: fix border rendering issue when scrolled (webkit)
    max-height: 650px;
    max-width: 100%;

    &.hide {
      display: none;
    }
  }

  p {
    margin: 1.5rem 0 0;
  }

  .details {
    position: sticky;
    top: 6.75rem;
  }

  .options {
    margin-bottom: 1.25rem;
  }

  .props {
    span {
      color: $text-color-lighter;
      padding-left: .25rem;
    }
  }

  .stations {
    margin-top: .5rem;
  }

  .wrapper {
    align-items: flex-start;
    display: flex;
    gap: 2rem 1.5rem;
    position: relative;
  }
}

@media only screen
and (max-width: 950px) {
  #dyfi,
  #shakemap {
    .wrapper {
      flex-flow: row wrap;
    }
  }
}
