@use '../../util/opt/mixins' as *;
@use '../../util/opt/variables' as *;

// DYFI, ShakeMap Lightboxes

@layer default {
  #dyfi,
  #shakemap {
    @include impact-borders;

    dl.alt {
      margin: 0;
    }

    em {
      font-size: .9em;
      font-style: normal;

      span {
        text-transform: lowercase;
      }
    }

    img {
      border-width: 3px;
      display: block;
      margin-right: 1px; // 1px: fix border rendering issue when scrolled (webkit)
      max-height: 650px;
      max-width: 100%;

      &.hide {
        display: none;
      }
    }

    .details {
      position: sticky;
      top: 6.75rem;
    }

    .options {
      margin-bottom: 1.25rem;
    }

    .props {
      span {
        color: var(--text-color-lighter);
        padding-left: .125rem;
      }
    }

    .stations {
      margin-top: .5rem;
    }

    .wrapper {
      align-items: flex-start;
      display: flex;
      gap: 2rem 1.5rem;
    }

    @media only screen and (max-width: $breakpoint-phone-width) {
      .wrapper {
        flex-wrap: wrap;
      }
    }
  }
}
