#editPane {
  form {
    display: flex;
    flex-flow: column wrap;
    max-height: 49rem;
    min-height: 45rem; /* 'hack' for Safari, which does not calculate flex parent height correctly */

    h3 {
      margin: 1.75rem 0 .5rem;
    }

    p {
      font-weight: 300;
      margin: .75rem 0 .25rem ;
    }
  }

  input {
    font-size: .9rem;
    padding: 5px;
    width: 12rem;

    &:invalid {
      border: 2px solid #c00;
      box-shadow: none;
      outline: 0;
    }
    &:-webkit-autofill {
      background: none !important;
    }
  }

  .aftershocks {
    order: 2;
  }

  .comcat {
    margin: 0;
  }

  .details {
    order: 5;
  }

  .historical {
    order: 3;
  }

  .mainshock {
    order: 1;

    h3 {
      margin-top: 0;
    }
  }

  .meta {
    order: 4;
  }

  .reset {
    appearance: none;
    background: none;
    border: none;
    color: $link-color;
    cursor: pointer;
    display: inline-block;
    font: 16px $font-family;
    margin-top: 1.5rem;
    outline: 0;
    text-align: left;
    text-decoration: underline;
    width: auto;

    &:active {
      color: $link-color-active;
    }
  }

  .required {
    color: #c00;
    margin-top: 1rem;
  }
}

@media only screen
  and (max-width: $breakpoint-tablet-width) {
  #editPane {
    form {
      flex-wrap: nowrap;
      max-height: none;
    }

    .aftershocks {
      order: 3;
    }

    .details {
      margin: 1.5rem 0 -1rem;
      order: 2;

      h4 {
        margin-top: 0;
      }
    }

    .historical {
      order: 4;
    }

    .mainshock {
      order: 1;
    }

    .meta {
      order: 5;
    }
  }
}
