/* Buttons
--------------------------------------------- */

button {
  -webkit-appearance: button;
  background-color: $accent-color;
  border: 1px solid color($accent-color shade(15%));
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: 400 16px/1.4 $font-family-headers;
  margin-top: 1.5em;
  padding: 6px 12px;
  text-align: center;
  text-shadow: 1px 1px 3px #444;
  text-transform: uppercase;
  transition: all .25s ease-in;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:active,
  &:hover,
  &:focus {
    background-color: color($accent-color tint(8%));
    border-color: color($accent-color shade(50%));
  }

  &:active {
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, .175);
    outline: 0;
  }
  &:focus {
    outline: 0;
  }

  &[disabled] {
    box-shadow: none;
    cursor: not-allowed;
    opacity: .3;
  }

  &.reset {
    background-color: $reset-button-color;
    border-color: color($reset-button-color shade(15%));
    color: $text-color-lighter;
    text-shadow: 1px 1px 3px #ddd;

    &:active,
    &:hover,
    &:focus {
      background-color: color($reset-button-color tint(30%));
      border-color: color($reset-button-color shade(25%));
    }
  }
}

/* Check boxes / radio inputs (customized to Leaflet's html rendering)
--------------------------------------------- */

input[type="checkbox"], input[type="radio"] {
  display: none;
}

input[type="checkbox"] + span:before, input[type="radio"] + span:before  {
  align-items: center;
  background-color: #fff;
  border: 1px solid #888;
  content: '\00a0';
  display: flex;
  font-family: 'Arial Unicode MS';
  height: 16px;
  justify-content: center;
  margin-right: 8px;
  position: relative;
  text-shadow: 1px 1px 3px #333;
  top: 0px;
  width: 16px;
}
input[type="checkbox"] + span:before {
  border-radius: 3px;
  font-size: 14px;
}
input[type="radio"] + span:before {
  border-radius: 8px;
  font-size: 11px;
}

input[type="checkbox"]:checked + span:before, input[type="radio"]:checked + span:before {
  background-color: $accent-color;
  border-color: $accent-color;
  color: #fff;
}
input[type="checkbox"]:checked + span:before {
  content: '\2713';
}
input[type="radio"]:checked + span:before {
  content: '\25CF';
}

/* Text / number inputs
--------------------------------------------- */

input[type=text], input[type=number] {
  border: 1px solid $border-color-lighter;
  border-radius: 4px;
  box-shadow: inset 0 1px 4px 0 hsla(0, 0%, 0%, 0.08);
  font-size: .9rem;
  margin: 0 1px 3px 0;
  outline: none;
  padding: 6px 0 6px 6px;
  transition: all 0.25s ease-in;
  width: 12rem;

  &:focus {
    border: 1px solid $accent-color;
    box-shadow: 0 0 3px $accent-color;
  }
  &:invalid {
    border: 1px solid #c00;
    box-shadow: 0 0 3px #c00;
  }
  &:-webkit-autofill {
    background: none !important;
  }
}

/* Range inputs - adapted from:
   https://css-tricks.com/sliding-nightmare-understanding-range-input/
--------------------------------------------- */

$track-w: 18em;
$track-h: 4px;
$thumb-d: 1.2em;
$track-c: $accent-color;
$track-bg: $border-color;
$dist: $track-w - $thumb-d;

@mixin track($color1, $color2) {
  background: linear-gradient($color1, $color1) no-repeat $color2;
  background-size: 25% 100%;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  height: $track-h;
  width: $track-w;
}

@mixin thumb() {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 50%;
  box-shadow: 0px 1px 2px #bbb;
  box-sizing: border-box;
  height: $thumb-d;
  width: $thumb-d;
}

div.filter {
  align-items: center;
  display: flex;
  margin: 1em 0 0;
  position: relative;

  h4 {
    font: 1em $font-family;
    margin: 0;
    position: absolute;
    top: 0;

    &:after {
      content: ':';
    }
  }

  .max, .min {
    color: $text-color-lighter;
    font-size: .9em;
    font-weight: 300;
    margin-top: 1.5rem;
  }
  .max {
    padding-left: .75em;
  }
  .min {
    padding-right: .75em;
  }
}

[type='range'] {
  &, &::-webkit-slider-thumb {
    -webkit-appearance: none
  }

  background: transparent;
  cursor: pointer;
  flex: 1;
  font: inherit;
  margin: 0;
  min-height: $thumb-d;
  outline: 0;
  padding: 0;

  ~ output {
    background: $bg-color;
    color: $text-color;
    display: block;
    left: calc(.5 * $thumb-d);
    line-height: 1;
    padding: .25em .5em;
    position: absolute;
    top: 0;
    transform: translate(calc((var(--val) - var(--min))/(var(--max) - var(--min)) * calc($dist) - 50%));
  }

  &::-moz-focus-outer {
    border: 0;
  }

  &::-webkit-slider-runnable-track {
    @include track($track-c, $track-bg)
  }
  &::-moz-range-track {
    @include track($track-c, $track-bg)
  }
  &::-ms-track {
    @include track($track-c, $track-bg)
  }

  &::-webkit-slider-thumb {
    margin-top: calc(.5 * ($track-h - $thumb-d));
    @include thumb
  }
  &::-moz-range-thumb {
    @include thumb
  }
  &::-ms-thumb {
    margin-top: 0;
    @include thumb
  }

  &::-ms-tooltip {
    display: none
  }
}

.inverted [type='range'] {
  &::-webkit-slider-runnable-track {
    @include track($track-bg, $track-c)
  }
  &::-moz-range-track {
    @include track($track-bg, $track-c)
  }
  &::-ms-track {
    @include track($track-bg, $track-c)
  }
}

.slider {
  align-items: center;
  display: flex;
  height: 4.5em;
  margin-top: 1.5rem;
  position: relative;
  width: $track-w;
}
