header {
  background: linear-gradient(var(--bg-color), var(--accent-color-lighter));
  border-bottom: 2px solid var(--accent-color);
  left: 0;
  padding: .5rem var(--padding-gutter) 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
