@use 'variables' as *;

header {
  background: $accent-color-lightest;
  border-bottom: 2px solid $accent-color;
  left: 0;
  padding: .5rem var(--padding-gutter) 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
