#helpPane {
  ol > li {
    font-size: 1.2rem;
    margin: 1em 0 1.5em 0;
  }

  p {
    margin: .5em 0;
  }
  p,
  ul > li {
    font-size: 1rem;
  }

  .eventid {
    display: block;
    margin: .25em 0;
    max-height: 36px;
    max-width: 100%;
  }

  .find {
    list-style: none;
    margin: -1em 0 1em;
    padding: 0;
  }

  .github {
    border-top: 1px solid #eee;
    margin-top: 1.5em;
    padding: 4px 0;
  }
}
