#helpPane {
  ol {
    counter-reset: item;
    list-style: none;
    margin: -.75em 0 0;
    padding: 0;

    h3 {
      display: inline-block;
      font-size: 1.3em;
      line-height: 1.3;
      margin: 0;
    }

    p, ul, h3, h4, img {
      margin-left: 33px;
    }

    & > li {
      counter-increment: item;
      margin: 2em 0;
      position: relative;

      &:before {
        background: #322646;
        border-radius: 50%;
        color: #fff;
        content: counter(item);
        display: inline-block;
        position: absolute;
        font-size: 17px;
        height: 25px;
        left: 0;
        line-height: 1;
        margin-right: 8px;
        padding-top: 4px;
        text-align: center;
        top: 0;
        width: 25px;
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .content {
    div {
      padding-right: 1em;
    }

    &:first-child {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .eventid {
    max-height: 36px;
    max-width: 90%;
  }

  .find {
    margin-top: -.5em;
  }

  .github {
    border-top: 1px solid #eee;
    margin-top: 1.5em;
    padding: 4px 0;
  }

  .navbutton {
    font-style: normal;
    text-transform: uppercase;
  }
}
