#helpPane {
  ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .column {
    padding-right: 2em;

    &:last-child {
      padding-right: 1em;
    }
  }

  .columns {
    display: flex;
    flex-wrap: wrap;
  }

  .eventid {
    max-height: 36px;
    max-width: 100%;
  }

  .find {
    margin-top: -.5em;
  }

  .github {
    border-top: 1px solid $border-color-lighter;
    margin: 2em 0 0;
    padding-top: 4px;
  }

  .iconlist {
    counter-reset: item;

    > li {
      counter-increment: item;
      margin: 2em 0;
      padding-left: 33px;
      position: relative;

      &:before {
        border-radius: 50%;
        color: $bg-color;
        content: counter(item);
        position: absolute;
        font-size: 17px;
        height: 25px;
        left: 0;
        line-height: 1;
        padding-top: 4px;
        text-align: center;
        top: 0;
        width: 25px;
      }
      &:first-child {
        margin-top: 1em;
      }
      &:last-child {
        margin-bottom: 1em;
      }
    }
  }

  .instructions {
    flex: 2 0 50%;

    h3 {
      font-size: 1.25em;
      line-height: 1.4;
      margin: 0;
    }

    .iconlist > li:before {
      background: #4dad3d;
    }
  }

  .legend {
    flex: 1 0 20%;
    font-family: $font-family-headers;
    max-width: 22em;
    min-width: 18em;

    h2 + ul > li {
      border-top: 1px solid $border-color-lighter;
      padding: 0.5em 0;

      &:first-child {
        border: none;
        padding-top: 0;
      }
    }

    img {
      margin: 0.3em .2em;
      max-width: 100%;
    }

    li {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .aftershocks {
      ul {
        color: $text-color-lighter;
      }
    }

    .aftershocks, .magnitude, .intensity {
      display: block;
    }

    .fieldnotes {
      position: relative;

      img {
        clip: rect(0, 25px, 30px, 0);
        position: absolute;
        right: -2px;
        top: 1px;
        width: 20px;
      }
    }

    .mags {
      align-items: center;
      color: $text-color-lighter;
      display: flex;
      font-size: .9em;
      justify-content: space-around;
      margin: .25em 0;

      &:before {
        content: '0';
        margin-right: .5em;
      }
      &:after {
        content: '7';
        margin-left: .5em;
      }
    }

  }

  .navbutton {
    font-style: normal;
    text-transform: uppercase;
  }

  .tips {
    flex: 1 0 30%;

    .iconlist > li:before {
      background: #4a8def;
    }
  }
}
