@use 'util/opt/variables' as *;

@layer default {
  #info-bar {
    dl {
      margin: 0 0 .75rem;
    }

    img {
      margin-top: 1.5rem;
      width: 7.5rem;
    }

    ol,
    ul {
      line-height: $line-height;
      margin: 1rem 0;
    }

    .iconlist {
      counter-reset: item;

      > li {
        counter-increment: item;
        margin: 1rem 0;
        padding-left: 2.25rem;
        position: relative;

        &:before {
          align-items: center;
          background: rgba(19, 173, 16, .8);
          border: 2px solid #42e43f;
          border-radius: 50%;
          color: var(--bg-color);
          content: counter(item);
          display: flex;
          font: 600 $font-size $font-family-labels;
          height: 1.75rem;
          justify-content: center;
          left: 0;
          position: absolute;
          top: 0;
          width: 1.75rem;
        }
      }
    }

    .note i {
      top: .1875rem;
    }
  }
}
