@use 'variables' as *;

#infoBar {
  dl {
    margin: 0 0 .75rem;
  }

  ol,
  ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
  }

  .iconlist {
    counter-reset: item;

    > li {
      counter-increment: item;
      margin: 1rem 0;
      padding-left: 2.2rem;
      position: relative;

      &:before {
        background: rgba(19, 173, 16, 0.8);
        border: 2px solid #42e43f;
        border-radius: 50%;
        color: $bg-color;
        content: counter(item);
        font: bold 1rem "Open Sans";
        height: 1.75rem;
        left: 0;
        line-height: 1;
        padding-top: .25rem;
        position: absolute;
        text-align: center;
        top: 0;
        width: 1.75rem;
      }
    }
  }
}
