@use 'sass:color';
@use 'functions/svgUrl' as *;
@use 'leaflet/control-bottomCenter';
@use 'leaflet/mousePosition';
@use 'variables' as *;

$separator-color: color.scale($accent-color, $lightness: 80%);

#mapPane {
  .leaflet-container {
    font: $font-size $font-family;
  }

  .leaflet-control-attribution,
  .leaflet-control-scale-line {
    font-size: .75rem;
    line-height: 1;
  }
  .leaflet-control-attribution {
    background-color: rgba(255, 255, 255, .5);
    color: $text-color-lighter;
    max-width: 300px;
    overflow: hidden; /* Quell long attributions */
    padding: 2px 4px;
    text-overflow: ellipsis;
    white-space: nowrap;

    a {
      color: $text-color-lighter;
      transition: color $hover-off-duration ease-in;

      &:hover {
        color: $text-color;
        text-decoration: none;
        transition: color $hover-on-duration ease-out;
      }
    }
  }

  .leaflet-control-layers,
  .leaflet-control-zoom {
    border: 1px solid $link-color;
    border-radius: $button-border-radius;
    box-shadow: none;
  }
  .leaflet-control-layers,
  .leaflet-control-zoom a {
    background: rgba(255, 255, 255, .95);
  }
  .leaflet-control-layers {
    font-family: $font-family-headers;

    label {
      cursor: pointer;
      line-height: 1.3;
      margin: 6px 0;

      span {
        align-items: center;
        display: flex;
      }
    }
  }
  .leaflet-control-zoom a {
    color: $link-color;
    transition: background $hover-off-duration ease-in;

    &:hover {
      background: $accent-color-lightest;
      transition: text-decoration-color $hover-on-duration ease-out;
    }

    &:first-child {
      border-bottom-color: $separator-color;
      border-top-left-radius: $button-border-radius;
      border-top-right-radius: $button-border-radius;
    }
    &:last-child {
      border-bottom-left-radius: $button-border-radius;
      border-bottom-right-radius: $button-border-radius;
    }
  }

  .leaflet-control-layers-expanded {
    background: #fff;
    border-radius: $button-border-radius;
    padding: 3px 10px;
  }

  .leaflet-control-layers-overlays {
    div > span {
      align-items: baseline;
      display: flex;
    }

    .count {
      font-size: .9em;
    }
  }

  .leaflet-control-layers-separator {
    border-top-color: $separator-color;
    margin: 5px -10px;
  }

  /* Use $accent-color colored SVG image for Leaflet layers toggle control */
  .leaflet-control-layers-toggle {
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" ' +
      'height="26" width="26" viewBox="0 0 26 26">' +
        '<style type="text/css">' +
          '.border {' +
            'fill: #{$accent-color};' +
          '}' +
          '.layer1 {' +
            'fill: ' + color.scale($accent-color, $alpha: -15%, $lightness: 52%) + ';' +
          '}' +
          '.layer2 {' +
            'fill: ' + color.scale($accent-color, $alpha: -18%, $lightness: 80%) + ';' +
          '}' +
          '.layer3 {' +
            'fill: ' + color.scale($accent-color, $alpha: -45%, $lightness: 91%) + ';' +
            'stroke: #{$accent-color};' +
            'stroke-width: 0.2;' +
          '}' +
        '</style>' +
        '<path class="layer1" d="M0,16.9l13-8l13,8l-13,8L0,16.9"/>' +
        '<path class="border" d="M0,16.9L0,18l13,8l13-8l0-1.1l-13,8L0,16.9z"/>' +
        '<path class="layer2" d="M0,12.9l13-8l13,8l-13,8L0,12.9"/>' +
        '<path class="border" d="M0,12.9V14l13,8l13-8v-1.1l-13,8L0,12.9z"/>' +
        '<path class="layer3" d="M0,8.8l13-8l13,8l-13,8L0,8.8"/>' +
        '<path class="border" d="M0,8.8V10l13,8l13-8V8.8l-13,8L0,8.8z"/>' +
      '</svg>'
    );
  }

  .leaflet-popup-close-button {
    border-radius: 50%;
    color: $accent-color;
    height: 23px;
    line-height: 1.35;
    padding: 0;
    right: 2px;
    top: 2px;
    text-align: center;
    transition: background $hover-off-duration ease-in;
    width: 23px;

    &:hover {
      background: $accent-color-lightest;
      transition: background $hover-on-duration ease-out;
    }
    &:active {
      background: $accent-color-lighter;
      transition: background .05s ease-out;
    }
  }

  .leaflet-popup-content {
    color: $text-color;

    a {
      color: $link-color;
    }

    [datetime] {
      min-width: 20rem; /* Prevent datetime from wrapping */
    }
  }

  /* Push top controls down to accommodate toolbar */
  .leaflet-top .leaflet-control {
    margin-top: 50px;
  }

  /* Scroll wide tables in Leaflet popups elegantly */
  .scroll-wrapper {
    overflow: auto;

    th.freeze {
      background: white;
      left: 0;
      position: sticky;
    }
  }

  /* Hide attribution text on (small screen) mobile devices */
  @media only screen
    and (max-width: $breakpoint-tablet-width) {
      .leaflet-control-attribution {
        display: none;
      }
  }
}
