@use 'util/opt/variables' as *;

@layer default {
  #legend-bar {
    h2 + ul > li {
      border-top: 1px solid var(--border-color-lighter);
      font: $font-size-larger $font-family-headers;
      padding: .625rem 0;

      &:first-child {
        border: none;
        padding-top: 0;
      }
    }

    img {
      margin: .5rem 0;
      max-width: 100%;
    }

    li {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    ul {
      margin-top: 1.25rem;
    }

    .aftershocks,
    .magnitude,
    .intensity {
      display: block;
    }

    .aftershocks ul {
      font: 300 $font-size/#{$line-height} $font-family;
      letter-spacing: .015rem;
      margin-top: .25rem;
    }

    .fieldnotes {
      position: relative;

      &.hide {
        display: none;
      }

      img {
        clip: rect(0, 20px, 30px, 0);
        position: absolute;
        right: 0;
        top: .25rem;
        width: 20px;
      }
    }

    .mags {
      align-items: center;
      color: var(--text-color-lighter);
      display: flex;
      font: 300 $font-size-smaller $font-family;
      justify-content: space-around;
      margin: .25rem 0;

      &:after {
        content: '7';
        margin-left: .5rem;
      }

      &:before {
        content: '0';
        margin-right: .5rem;
      }
    }
  }
}
