@use 'mixins' as *;
@use 'variables' as *;

.lightbox {
  align-items: center;
  background: rgba(0, 0, 0, .93);
  bottom: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 1;
  padding: 1rem 2.5rem;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .25s ease-in-out;
  visibility: visible;
  z-index: 10000;

  &.hide {
    opacity: 0;
    visibility: hidden;

    .close,
    .options {
      display: none;
    }
  }

  > * {
    cursor: auto;
  }

  h3 {
    align-items: center;
    background: $bg-color;
    font-size: 1.625rem;
    gap: 0 .5rem;
    margin: 0;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 10001;
  }

  h4 {
    font-size: 1.375rem;
    margin: 1.75rem 0 .75rem;
  }

  .close {
    position: sticky;
    top: 0;
    z-index: 10002;
  }

  .container {
    background: $bg-color;
    border-radius: $content-border-radius;
    max-height: 100%;
    max-width: 100%;
    overflow: scroll;
    padding: 0 1.5rem 1rem;
    position: relative;

    // Hide scrollbars
    -ms-overflow-style: none; // IE, Edge
    scrollbar-width: none; // Firefox

    &::-webkit-scrollbar {
      display: none; // Chrome, Safari, and Opera
    }
  }

  .content > h4:first-child {
    margin-top: .25rem;
  }

  .icon-close {
    @include close;

    position: absolute;
    right: -1.375rem;
    top: .125rem;
  }

  .status {
    margin: 1.5rem 0 0;

    &:before {
      @include labels;

      content: 'Status';
      margin-right: .5rem;
    }

    i {
      margin-left: .25rem;
    }

    span { // nested (span) tag and inline-block are necessary for text-transform
      display: inline-block;
      text-transform: capitalize;
    }
  }
}

@media only screen
and (max-width: $breakpoint-phone-width) {
  .lightbox {
    padding: 0;

    .container {
      border-radius: 0;
    }
  }
}
