@use 'variables' as *;

.lightbox {
  background: rgba(0, 0, 0, .9);
  bottom: 0;
  cursor: pointer;
  display: flex;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .25s ease-in-out;
  visibility: visible;
  z-index: 10000;

  &.hide {
    opacity: 0;
    visibility: hidden;
  }

  &:after {
    background: #eee;
    border-radius: 50%;
    color: #000;
    content: '\d7';
    font-size: 20px;
    height: 25px;
    line-height: 1.05;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    transition: background $effect-off-duration ease-in;
    width: 25px;
  }

  img {
    border-radius: $content-border-radius;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
  }

  .content {
    background: $bg-color;
    border-radius: $content-border-radius;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    overflow: scroll;
    padding: 1rem 1.5rem;
  }

  > * {
    cursor: auto;
  }
}

@media only screen
and (max-width: $breakpoint-phone-width) {
  .lightbox {
    .content {
      border-radius: 0;
    }
  }
}
