@use 'util/opt/variables' as *;

@layer default {
  #map,
  #map-pane {
    height: 100%;
  }

  #map-pane {
    padding: 0;

    canvas {
      width: 40px;
    }

    .breather { // loader
      width: 1.5rem;

      span {
        height: 1rem;
        top: -.8125rem;
        width: 1rem;
      }
    }

    .container { // contains Beachballs that are turned off in layer controller
      display: none;
    }

    .count {
      animation: none; // prevents playing every time layer control is displayed
    }

    .faults img,
    .plates img {
      transition: filter .2s linear; // color associated w/ base layer change
    }

     // Rendering order of Features (map and layer controller)

    .leaflet-focal-mechanism-pane {
      z-index: 425;
    }

    .leaflet-moment-tensor-pane {
      z-index: 424;
    }

    .leaflet-mainshock-pane {
      z-index: 423;
    }

    .leaflet-aftershocks-pane,
    .leaflet-dd-aftershocks-pane {
      z-index: 422;
    }

    .leaflet-foreshocks-pane,
    .leaflet-dd-foreshocks-pane {
      z-index: 421;
    }

    .leaflet-historical-pane,
    .leaflet-dd-historical-pane {
      z-index: 420;
    }

    .leaflet-shakemap-stations-pane {
      z-index: 419;
    }

    .leaflet-fieldnotes-pane {
      z-index: 418;
    }

    .leaflet-catalog-search-pane {
      z-index: 417;
    }

    .leaflet-top .leaflet-control {
      margin-top: 7.75rem;
    }

    // Scroll wide tables in Leaflet popups elegantly
    .scroll-wrapper {
      overflow: auto;

      th.freeze {
        background: white;
        left: 0;
        position: sticky;
      }
    }

    // Hide attribution text on (small screen) mobile devices
    @media only screen and (max-width: $breakpoint-tablet-width) {
      .leaflet-control-attribution {
        display: none;
      }
    }
  }
}
