@import 'mappane/_mousePosition.scss';
@import 'features/_fieldnotesFeature.scss';
@import 'features/_stationsFeature.scss';

#mapPane,
.map {
  height: 100%;
}

#mapPane {
  canvas {
    width: 40px;
  }
  /* hide 'placeholder' moment tensor / focal mech. beachballs */
  > canvas {
    display: none;
  }
}

/* Rendering order of features
  (all but faults rendered in leaflet-overlay-pane which has a z-index of 400) */
.leaflet-focal-mechanism-pane {
  z-index: 425;
}
.leaflet-moment-tensor-pane {
  z-index: 424;
}
.leaflet-mainshock-pane {
  z-index: 423;
}
.leaflet-aftershocks-pane {
  z-index: 422;
}
.leaflet-foreshocks-pane {
  z-index: 421;
}
.leaflet-historical-pane {
  z-index: 420;
}
.leaflet-stations-pane {
  z-index: 419;
}
.leaflet-fieldnotes-pane {
  z-index: 418;
}
.leaflet-faults-pane {
  z-index: 417;
}

/* Match popup font-size to rest of app */
.leaflet-container {
  font-size: $font-size;
}

/* Quell long attributions */
.leaflet-control-attribution {
  color: $text-color-lightest;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  a {
    color: $text-color-lightest !important;
  }
}

/* Form controls */
.leaflet-control-layers {
  font-family: $font-family-headers;

  label {
    cursor: pointer;
    line-height: 1.3;
    margin: 6px 0;

    span {
      align-items: center;
      display: flex;
    }
  }
}

/* Hide zoom controls on mobile device (which has pinch-to-zoom gestures) */
.leaflet-control-zoom.hide {
  display: none;
}

/* Push top controls down to accommodate toolbar */
.leaflet-top .leaflet-control {
  margin-top: 50px;
}

/* Hide attribution text on (small screen) mobile devices */
@media only screen
  and (max-width: $breakpoint-tablet-width) {
  .leaflet-control-attribution {
    display: none;
  }
}
