@import '_MousePosition.scss';
@import 'features/_stations.scss';

#mapPane,
.map {
  height: 100%;
}

/* Rendering order of features (placed within overlayPane which has a z-index of 400) */
.leaflet-aftershocks-pane {
  z-index: 422;
}
.leaflet-focal-mechanism-pane {
  z-index: 425;
}
.leaflet-historical-pane {
  z-index: 421;
}
.leaflet-mainshock-pane {
  z-index: 423;
}
.leaflet-moment-tensor-pane {
  z-index: 424;
}
.leaflet-stations-pane {
  z-index: 420;
}

/* Match popup font-size to rest of app */
.leaflet-container {
  font-size: $font-size;
}

/* Quell long attributions */
.leaflet-control-attribution {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Hide zoom controls on mobile device (which has pinch-to-zoom gestures) */
.leaflet-control-zoom.hide {
  display: none;
}

/* UtfGrid mouseovers */
.leaflet-mouseover-tooltip {
  background: rgba(255, 255, 255, .90);
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  color: #222;
  display: none;
  left: 12px;
  padding: 6px;
  pointer-events: none;
  position: absolute;
  top: -6px;
  user-select: none;
  white-space: nowrap;
}

/* Make font-size a bit smaller for all map mouseovers */
.leaflet-mouseover-tooltip, .leaflet-tooltip {
  font-size: .9em;
}

/* Push top controls down to accommodate toolbar */
.leaflet-top .leaflet-control {
  margin-top: 55px;
}

/* Hide attribution text on (small screen) mobile devices */
@media only screen
  and (max-width: $breakpoint-tablet-width) {
  .leaflet-control-attribution {
    display: none;
  }
}
