@import 'leaflet.label.css';
@import '_MousePosition.scss';

#map, .map {
  height: 100%;
}

/* Quell long attributions */
.leaflet-control-attribution {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Leaflet label mouseovers */
.leaflet-label {
  background: rgba(255, 255, 255, .85);
  border-color: rgba(0, 0, 0, .25);
  border-width: 2px;
  color: #000;
  font-weight: 500;
  padding: 2px 6px;

  &:before {
    left: -8px;
    top: 6px;
  }
  &:after {
    right: -8px;
    top: 6px;
  }
}

/* UtfGrid mouseovers */
.leaflet-mouseover-tooltip {
  background: #fff;
  background: rgba(255, 255, 255, .85);
  border: 2px solid;
  border-color: rgba(0, 0, 0, .25);
  border-radius: 4px;
  color: #000;
  display: none;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 500;
  left: 12px;
  margin: -.5em 0 0;
  padding: 2px 6px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

/* ensure popups are on top of labels */
.leaflet-popup {
  z-index: 1000;
}

/* push top controls down to accommodate toolbar */
.leaflet-top .leaflet-control {
  margin-top: 55px;
}
