@use 'sass:color';
@use 'variables' as *;

#navBar {
  background-color: $accent-color-lighter;
  display: flex;
  font: 700 1rem/1 $font-family-headers;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;

  a {
    color: $link-color;
    display: block;
    padding: 12px 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all $hover-off-duration ease-in;

    &:hover {
      background-color: color.scale($accent-color-lighter, $lightness: -2.5%);
      color: color.scale($link-color, $blackness: 5%);
      transition: all $hover-on-duration ease-out;
    }

    &.selected {
      background-color: $link-color;
      color: #fff;
      text-shadow: $button-text-shadow;
    }
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
