@use 'variables' as *;

#navBar {
  display: flex;
  justify-content: space-between;

  #navMain {
    display: flex;
    font: 700 1rem/1 $font-family-headers;
    margin: 0 0 0 -.5rem;
    padding: 0;

    a {
      border: 1px solid transparent;
      border-bottom-width: 0;
      border-radius: 6px 6px 0 0;
      color: $link-color;
      display: block;
      padding: .6rem .85rem;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .15s ease-in;

      &:hover {
        border-color: $accent-color;
        transition: all $hover-on-duration ease-out;
      }

      &.selected {
        background: $accent-color;
        border-color: $accent-color;
        color: #fff;
        text-shadow: $button-text-shadow;
        transition: all $hover-on-duration ease-out;
      }
    }

    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}
