#plotsPane {
  height: 100%;

  h3 {
    margin: 1.625rem 0 1.25rem;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .cumulative {
    height: 33vh;
  }

  .hypocenters {
    height: 83vh;
  }

  .js-plotly-plot {
    width: 100%;
  }

  .magtime {
    height: 33vh;
  }

  /* Rendering order of Features */

  .aftershocks {
    order: 0;

    h2 {
      margin-top: 0;
    }
  }

  .foreshocks {
    order: 1;
  }

  .historical {
    order: 2;
  }
}
