#plotsPane {
  height: 100%;

  div {
    &.cumulative {
      height: 33vh;
    }

    &.hypocenters {
      height: 76vh;
    }

    &.magtime {
      height: 33vh;
    }
  }

  h3 {
    margin: 1.625rem 0 1.25rem;
  }

  output:after {
    content: ' km';
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .hide { // plots + associated headers
    display: none;
  }

  .js-plotly-plot {
    width: 100%;
  }

  /* Rendering order of Features */

  .aftershocks,
  .dd-aftershocks {
    order: 0;

    h2 {
      margin-top: 0;
    }
  }

  .foreshocks,
  .dd-foreshocks {
    order: 1;
  }

  .historical,
  .dd-historical {
    order: 2;
  }
}
