@use 'sass:color';

@use 'util/opt/variables' as *;

@layer default {
  #endtime ~ .flatpickr-calendar {
    right: 0;
  }

  #region-map {
    height: 300px;
    margin-top: 1.25rem;
  }

  #search-bar {
    button {
      padding: {
        bottom: .5rem;
        top: .5rem;
      }
    }

    .dates {
      align-items: center;
      display: flex;
      margin-top: 1rem;

      > span {
        margin-top: 1.25rem;
        text-align: center;
        width: 2rem;
      }
    }

    .info {
      margin: 0;
      opacity: 1;
      transition: $effect-on-duration ease-in-out {
        property: opacity, visibility;
      };

      &.hide {
        opacity: 0;
        transition-duration: $effect-duration-shorter;
        visibility: hidden;
      }
    }

    .invalid > input[type="text"] {
      transition-property: background, box-shadow;
    }

    .option {
      opacity: 1;
      transition: $effect-slide-duration ease-in-out {
        property: margin, max-height, opacity;
      };

      &.custom-period {
        max-height: 6rem;
      }

      &.custom-region {
        max-height: 24rem;
        overflow: hidden; // note: breaks Flatpickr if applied to .custom-period

        &.hide {
          margin-bottom: 1.5rem;
        }
      }

      &.hide {
        max-height: 0;
        opacity: 0;

        &.custom-period { // mitigate not setting overflow on .custom-period
          margin-top: -.75rem;
          visibility: hidden;
        }

        .invalid > input[type="text"] { // flash invalid fields
          background: color.scale($invalid-color, $alpha: -90%);
          box-shadow: $box-shadow-inset, 0 0 8px 2px var(--invalid-color);
        }
      }
    }

    .slider-container {
      margin: -.5rem 0 -1rem;
    }
  }
}
