@use 'variables' as *;

#searchBar {
  button {
    margin: .75rem 0 1.5rem;
  }

  div.hide {
    display: none;
  }

  #endtime ~ .flatpickr-calendar {
    right: 0; // align end date calendar to right edge
  }

  .customRegion {
    height: 300px;
    margin: 1.25rem 0 0;
  }

  .dates {
    align-items: center;
    display: flex;
    margin-top: 1rem;

    label {
      margin-top: .25rem;
    }

    > span {
      display: block;
      padding-top: 1.25rem;
      text-align: center;
      width: 2rem;
    }
  }

  .instructions,
  .utc {
    color: $text-color-lighter;
    font-size: .875rem;
    margin: 0;
    opacity: 1;
    transition: opacity $effect-on-duration ease-out;

    &.hide {
      opacity: 0;
      transition: all .15s ease-in;
      visibility: hidden;
    }
  }

  // Custom region Rectangle overlay
  .leaflet-path-draggable {
    fill: $accent-color;
    stroke: $accent-color;
  }

  .slider-container {
    margin: -.5rem 0 -1rem;
  }
}
