@use 'util/opt/variables' as *;

@layer default {
  #selectPane {
    align-items: center;
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    padding: var(--padding-header) 0 0;
    position: absolute;
    top: 0;
    transition: padding $effect-duration ease; // SideBar open/close
    width: 100%;

    h2 {
      margin-top: 0;
    }

    p {
      margin: 0;
    }
  }

  body:not(.loading, .mainshock) {
    :is(#plotsPane, #summaryPane):not(.hide) ~ #selectPane {
      display: flex;
    }
  }
}
