@use 'variables' as *;

#selectBar {
  button {
    margin-bottom: 1.5rem; /* ensure StatusBar doesn't obscure button */
    padding-bottom: 2px;
    padding-top: 2px;

    &:after {
      content: 'Mainshock';
    }
  }

  p + h3 {
    margin: 1.5rem 0 .25rem;

    span {
      color: $text-color-lighter;
      font-size: 1rem;
      margin-left: .3rem;

      &:after {
        content: ')';
      }
      &:before {
        content: '(';
      }
    }
  }

  ul + h3 {
    margin-top: 1.75rem;
  }

  .details {
    margin-top: 1.25rem;
    max-height: 350px;
    overflow: hidden;
    transition: max-height .3s ease-out;

    &.hide {
      max-height: 0;
      transition: max-height .1s ease-in;
    }
  }
}
