@use 'util/mixins' as *;
@use 'util/variables' as *;

#settingsBar {
  button {
    margin-top: .25rem;
  }

  label span {
    font-weight: normal;
    text-transform: none;
  }

  .aftershocks,
  .foreshocks,
  .historical {
    margin-bottom: 1.75rem;
  }
  .aftershocks {
    margin-top: 1.75rem;
  }

  .dd,
  .details {
    color: $text-color-lighter;
    font-size: $font-size-smaller;
    opacity: 1;
    overflow: hidden;
    transition: all $effect-slide-duration ease-in-out;

    &.hide {
      margin: 0;
      max-height: 0;
      opacity: 0;
    }
  }
  .dd {
    line-height: 1.2;
    margin: .125rem 0 0;
    max-height: 1.5rem;
  }
  .details {
    margin: 0 0 1.25rem;
    max-height: 6rem;

    p {
      margin: .125rem 0 .25rem;
    }

    time {
      color: #333;
      display: block;
      line-height: 1;
      margin-top: .25rem;

      &:before {
        @include labels;

        content: 'Updated';
        font-size: $font-size-smaller;
        margin-right: .375rem;
      }
    }
  }

  .disabled,
  .enabled {
    h3,
    input,
    label {
      transition: color $effect-duration ease-in-out;
    }
  }
  .disabled {
    h3,
    input,
    label, label:active {
      color: $text-color-disabled;
      cursor: auto;
    }
    input {
      cursor: not-allowed;
    }

    .breather span {
      background: #ccc;
    }
  }

  .refresh {
    margin: .75rem 0;
  }

  .required {
    color: $invalid-color;
    margin-bottom: 0;
  }

  .timezone {
    margin-bottom: .5rem;
  }
}

body:not(.mainshock) {
  #aftershocks + time,
  #settingsBar .required {
    display: none
  }
}
