@use 'variables' as *;

#settingsBar {
  button {
    margin-top: .25rem;
  }

  label span {
    font-weight: normal;
    text-transform: none;
  }

  .aftershocks,
  .foreshocks,
  .historical {
    margin-bottom: 1.75rem;
  }

  .dd {
    color: $text-color-lighter;
    font-size: .875rem;
    line-height: 1.2;
    margin: .375rem 0 0;
    opacity: 1;
    transition: opacity $effect-on-duration ease-out;

    &.hide {
      height: .25rem;
      opacity: 0;
      transition: all $effect-off-duration-shorter ease-in;
      visibility: hidden;
    }
  }

  .historical + p {
    margin-top: 1.5rem;
  }

  .required {
    color: $invalid-color;
    margin-bottom: 0;
  }

  .timezone {
    margin-bottom: 1rem;
  }
}
