@use 'util/opt/variables' as *;

@layer default {
  #settings-bar {
    dd {
      color: var(--text-color);
    }

    div:is(.aftershocks, .foreshocks, .historical) h3 {
      margin-top: 1.625rem;
    }

    label.input {
      margin-top: 1.25rem;

      span {
        font-weight: normal;
        text-transform: none;
      }
    }

    .dd,
    .details {
      opacity: 1;
      overflow: hidden;
      transition: $effect-slide-duration ease-in-out {
        property: margin, max-height, opacity;
      };

      &.hide {
        margin: 0;
        max-height: 0;
        opacity: 0;
      }
    }

    .dd {
      line-height: normal;
      margin-top: .25rem;
      max-height: 1.5rem;
    }

    .details {
      margin: 0 0 1rem;
      max-height: 6rem;

      p {
        margin: .125rem 0;
      }
    }

    .disabled {
      label.input,
      label.input:hover {
        color: var(--text-color-disabled);
        cursor: auto;
      }
    }

    .refresh {
      margin: .75rem 0;
    }

    .timestamp {
      margin-top: .125rem;
    }
  }

  body:not(.mainshock) #aftershocks + time {
    display: none
  }
}
