@use 'util/mixins' as *;
@use 'util/variables' as *;

#sideBar {
  background: $bg-color-alpha;
  bottom: 0;
  margin-right: $sidebar-width * -1;
  overflow: scroll;
  padding: 0;
  position: fixed;
  right: 0;
  top: var(--padding-header);
  transition: margin $effect-duration ease;
  width: $sidebar-width;
  z-index: 1000;

  // Hide scrollbars
  -ms-overflow-style: none; // IE, Edge
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    display: none; // Chrome, Safari, and Opera
  }

  a.icon-close {
    @include close;

    opacity: 0;
    position: fixed;
    right: $sidebar-width * -1;
    top: 7.625rem;
    z-index: 10000;
  }

  h2 {
    font-size: 1.75rem;
    margin: .25rem 0 1rem;
  }

  h3 {
    margin: 1.5rem 0 .75rem;
  }

  label {
    @include labels;

    cursor: pointer;
    display: block;
    margin: 1.25rem 0 0;
    padding-bottom: .25rem;

    &:active {
      color: #444;
    }
  }

  section.hide {
    display: none;
  }

  ul.options {
    margin-bottom: .25rem;
  }

  .hide-link {
    color: $text-color;
    cursor: text;
    text-decoration: none;
  }

  .note {
    border-top: 1px solid $border-color-lighter;
    margin: 2.75rem 0 0;
    padding-top: 1rem;
  }
}

body.sidebar {
  #plotsPane,
  #summaryPane {
    margin-right: $sidebar-width;
  }

  #selectPane {
    padding-right: $sidebar-width;
  }

  #sideBar {
    border-left: 1px solid $border-color-lighter;
    margin-right: 0;

    a.icon-close {
      opacity: 1;
      right: .5rem;
      transition: background .5s ease-out, opacity .5s ease-out;
    }
  }

  .leaflet-center,
  .leaflet-right {
    padding-right: $sidebar-width;
  }
}
