@use 'variables' as *;

#significantEqs {
  border: solid $border-color;
  border-width: 1px 0;
}

div#significantEqs { /* loader */
  height: 5rem;
  position: relative;

  .spinner {
    top: 35%;
  }
}

h4#significantEqs { /* no SignificantEqs msg */
  padding: 1rem 0;
}

ul#significantEqs { /* list */
  list-style: none;
  margin: 0;
  padding: 0;

  h4 {
    font-size: 1.1rem;
  }

  li {
    align-items: center;
    border-bottom: 1px solid $border-color-lighter;
    display: flex;
    margin: 0;
    padding: .5rem .25rem;
    transition: all $effect-off-duration + .15s ease-in;

    &:hover {
      background: $accent-color-lightest;
      color: $text-color-darker;
      cursor: pointer;
      transition: all $effect-on-duration ease-out;

      p {
        color: $text-color;
        transition: color $effect-on-duration ease-out;
      }
    }

    &:last-child {
      border: none;
    }

    &.selected {
      background: $accent-color;
      color: #fff;
      transition: all $effect-on-duration ease-out;

      &:hover {
        cursor: auto;
      }

      p {
        color: #fff;
        transition: color $effect-on-duration ease-out;
      }
    }

    > div:first-of-type {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-right: .75rem;
    }

    .impact-bubble {
      min-width: 3rem;
    }

    .mag {
      font-size: 1.25rem;
      line-height: 1;
      padding-bottom: .25rem;
    }
  }

  p {
    color: $text-color-lighter;
    margin: 0;
    transition: color $effect-off-duration ease-in;
  }
}
