#statusBar {
  bottom: 0;
  box-shadow: 0 -2px 12px 0 rgba(0, 0, 0, 0.06);
  height: 44px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10000;

  div {
    background-color: rgba(255, 255, 120, 0.95);
    border-top: 2px solid rgba(255, 255, 0, 1);
    display: none;
    min-height: 44px;
    padding: 10px 0;
    position: absolute;
    text-shadow: 1px 1px 3px #fffec6;
    width: 100%;

    &.error {
      background-color: rgba(223, 62, 62, 0.92);
      border-color: rgb(195, 0, 0);
      padding: 1px 0;
      text-shadow: 1px 1px 3px #922c2c;

      h4 {
        color: #fff;
      }
    }

    &:first-child {
      display: block; /* only display one item (first) at a time */
    }
  }

  h4 {
    color: $text-color;
    font-size: 20px;
    line-height: 1;
    margin: 0;
    text-align: center;
  }

  li {
    color: #fff;
    display: inline;
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;

    &:after {
      content: ', ';
    }
    &:last-child:after {
      content: '';
    }
  }

  /* Loading animation */
  span {
    animation: loading 1s infinite;
    display: inline-block;
    font: 1.2em georgia;
    line-height: .25;

    &:nth-child(1) {
      padding-left: 3px;
    }
    &:nth-child(2) {
      animation-delay: .15s;
    }
    &:nth-child(3) {
      animation-delay: .3s;
    }
  }

  ul {
    margin: 3px 0 0;
    padding: 0;
    text-align: center;
  }

  .close {
    background-color: rgb(195, 0, 0);
    border-radius: 50%;
    height: 32px;
    opacity: 0.75;
    position: absolute;
    right: 6px;
    top: 5px;
    transition: opacity .25s ease-out;
    width: 32px;

    &:hover {
      opacity: 1;
    }
    &:before, &:after {
      background-color: #fff;
      content: ' ';
      height: 20px;
      left: 15px;
      position: absolute;
      top: 6px;
      width: 2px;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  &.hide {
    height: 0;
    transition: height .25s ease-out .25s;
  }
}

@keyframes loading {
  0%, 100% {
    opacity: .1;
  }
  20% {
    opacity: 1;
  }
}
