#summary {
  table {
    border-collapse: collapse;
    margin: .5em 0;

    abbr {
      border-bottom: 1px dotted #999;
      cursor: help;
    }
  }

  td, th {
    border: solid #e8e8e8;
    border-width: 1px 0 1px 0;
    padding: .5em;
  }

  td {
    &.depth, &.distance, &.mag {
      text-align: right;
    }
    &.rowlabel {
      font-weight: 500;
    }
  }

  th {
    background-color: #f7f7f7;
    font-weight: 500;
  }

  time {
    display: block;

    &:before {
      content: 'Updated: ';
    }
  }

  .bin {
    td:not(:first-child) {
      text-align: right;
    }
  }

  .bins {
    display: flex;
    flex-wrap: wrap;

    table {
      margin-right: 2em;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .empty {
    background: none;
    border: 0;
  }

  .feature {
    h2 {
      margin-top: 0;
    }
    border-top: 1px solid #ccc;
  	padding: 2em 0;
    width: 100%;

    &:first-child {
      border: 0;
    }
  }

  .features {
    display: flex;
    flex-wrap: wrap;
  }
}

#mainshock {
  order: 0;

  .distance {
    display: none;
  }
}
#aftershocks {
  order: 1;
}
#historical {
  order: 2;
}
