#summary {
  h3 {
    margin: 2.5em 0 .5em;
  }
  table {
    border-collapse: collapse;
    margin: 0 0 1em;

    abbr {
      border-bottom: 1px dotted #999;
      cursor: help;
    }
  }

  td {
    padding: .4em .5em;

    &.depth,
    &.distance,
    &.mag {
      text-align: right;
    }
    &.distance span {
      display: inline-block;
      text-align: left;
      width: 1.5em;
    }
    &.location {
      text-align: center;
    }
    &.rowlabel {
      color: #333;
      font-weight: 500;
    }
  }

  th {
    color: #333;
    font-weight: 500;
    padding: .25em .5em;
    /*text-transform: uppercase;*/
  }

  tr {
    border: solid #e8e8e8;
    border-width: 0 0 1px;

    &:first-child {
      border-color: #ccc;
    }
  }

  time {
    display: block;
    margin: 1em 1em 0;
    text-align: right;

    &:before {
      content: 'Updated: ';
    }
  }

  .bin {
    td:not(:first-child) {
      text-align: right;
    }
  }

  .bins {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -1.5em;

    table {
      margin-right: 2em;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .feature {
    width: 100%;
    h2 {
      margin-top: 0;
    }

    &:first-child {
      border: 0;
    }
  }

  .features {
    display: flex;
    flex-wrap: wrap;
  }

  .note {
    color: #666;
    font-size: .9rem;
    line-height: 1.4;
    margin: -.75rem 0 0 3px;
  }

  .star {
    display: none;
  }
}

#mainshock {
  order: 0;

  .distance {
    display: none;
  }
}
#aftershocks {
  order: 1;
}
#historical {
  order: 2;
}

@media only screen
and (max-width: $breakpoint-phone-width) {
  #summary {
    .star {
      display: inline-block;
      margin-left: 2px;
    }
    .tz {
      display: none;
    }
  }
}
