@use 'variables' as *;

#titleBar {
  h1 {
    a {
      color: $text-color;
      position: relative;
      text-decoration-color: transparent;
      text-decoration-skip-ink: none;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px;
      transition: all $effect-off-duration ease-in;

      &:hover {
        color: $text-color-darker;
        text-decoration-color: $text-color-lighter;
        transition: all $effect-on-duration ease-out;

        i {
          opacity: 1;
          transition: all $effect-on-duration ease-out;
        }
      }
    }

    i {
      color: $text-color-lighter;
      font-size: 1.25rem;
      opacity: 0;
      position: absolute;
      right: -1.75rem;
      top: .5rem;
      transition: all $effect-off-duration ease-in;
    }
  }

  p {
    color: $text-color;
    font: 1.25rem $font-family;
    margin: .5rem 0;
  }
}
