@use 'variables' as *;

$open-link-color: #666;

#titleBar {
  h1 {
    font-size: 1.7rem;
    line-height: 1;

    a {
      color: $text-color;
      position: relative;
      text-decoration-color: transparent;
      text-decoration-skip-ink: none;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px;
      transition: all $hover-off-duration ease-in;

      &:hover {
        color: $text-color-darker;
        text-decoration-color: $open-link-color;
        transition: all $hover-on-duration ease-out;

        i {
          opacity: 1;
          transition: all $hover-on-duration ease-out;
        }
      }
    }

    i {
      color: $open-link-color;
      font-size: 1.25rem;
      opacity: 0;
      position: absolute;
      right: -2.25rem;
      top: .5rem;
      transition: all $hover-off-duration ease-in;
    }
  }

  p {
    color: $text-color-lighter;
    font: 1.2rem $font-family-headers;
    margin: .4rem 0;
  }
}
