@layer default {
  #title-bar {
    a {
      color: var(--text-color);
      text-decoration-color: transparent;

      &:hover {
        color: var(--text-color-darker);
        text-decoration-color: var(--text-color-lighter);
      }

      &:active {
        text-decoration-color: var(--text-color);

        i {
          color: var(--text-color);
        }
      }
    }

    h1,
    p {
      white-space: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
    }

    h1 {
      margin-top: .25rem;
    }

    i {
      background: none;
      color: var(--text-color-lighter);
      font-size: 1.25rem;
      padding: 0 .25rem;
      right: -1.75rem;
      top: .4375rem;
    }

    p {
      font-size: 1.25rem;
      margin: 0 0 .25rem;
    }

    time.local {
      display: none;
    }
  }
}
