$breakpoint-phone-width: 735px;
$breakpoint-tablet-width: 1023px;

$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-headers: 'Open Sans', sans-serif;
$font-size: 15px;

/* Colors */

$accent-color: #7234dc; /*#6e00ff*/
$accent-color-lighter: hsla(262, 46%, 95%, .96);
$accent-color-lightest: color($accent-color alpha(3%));

$bg-color: #fff;
$bg-color-darker: #f7f7f7;

$border-color: #ddd;
$border-color-lighter: #efefef;

$link-color: $accent-color;
$link-color-active: #DC406D;
$link-color-visited: $link-color;

$text-color: #333;
$text-color-lighter: #555;
$text-color-lightest: #999;

/* MMI / PAGER (impact bubbles) */

$mmi-font-family: Tahoma, Verdana, Segoe, sans-serif;

$mmiI-color: #fff;
$mmiI-text-color: #000;

$mmiII-color: #acd8e9;
$mmiII-text-color: #000;

$mmiIII-color: #acd8e9;
$mmiIII-text-color: #000;

$mmiIV-color: #83d0da;
$mmiIV-text-color: #000;

$mmiV-color: #7bc87f;
$mmiV-text-color: #000;

$mmiVI-color: #f9f518;
$mmiVI-text-color: #000;

$mmiVII-color: #fac611;
$mmiVII-text-color: #000;

$mmiVIII-color: #fa8a11;
$mmiVIII-text-color: #000;

$mmiIX-color: #f7100c;
$mmiIX-text-color: #000;

$mmiX-color: #c80f0a;
$mmiX-text-color: #000;

$mmiXI-color: #c80f0a;
$mmiXI-text-color: #000;

$mmiXII-color: #c80f0a;
$mmiXII-text-color: #000;

$pager-pending-color: #fff;
$pager-pending-text-color: #000;

$pager-green-color: #00b04f;
$pager-green-text-color: #000;

$pager-yellow-color: #ff0;
$pager-yellow-text-color: #000;

$pager-orange-color: #f90;
$pager-orange-text-color: #000;

$pager-red-color: #f00;
$pager-red-text-color: #000;
