@use 'sass:color';

$breakpoint-phone-width: 735px;
$breakpoint-tablet-width: 1023px;

$button-border-radius: 4px;
$button-text-shadow: 1px 1px 3px #444;

$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-headers: 'Open Sans', sans-serif;
$font-family-mmi: Tahoma, Verdana, Segoe, sans-serif;
$font-size: 16px;

$hover-off-duration: .25s;
$hover-on-duration: .05s;

$sidebar-duration: .25s;
$sidebar-width: 400px;

/* Colors */

$accent-color: #7234dc; /*#6e00ff*/
$accent-color-lighter: color.scale($accent-color, $alpha: -4%, $lightness: 92%);
$accent-color-lightest: color.scale($accent-color, $alpha: -4%, $lightness: 97%, $saturation: 25%);

$bg-color: #fff;
$bg-color-darker: #f7f7f7;

$border-color: #ddd;
$border-color-lighter: #efefef;
$border-color-lightest: #f6f6f6;

$invalid-color: #c00;

$link-color: $accent-color;
$link-color-active: $accent-color;
$link-color-hover: $accent-color;
$link-color-visited: $accent-color;

$text-color: #333;
$text-color-darker: #000;
$text-color-lighter: #555;
$text-color-lightest: #999;

/* MMI / PAGER (impact bubbles) */

$mmiI-color: #fff;
$mmiII-color: #acd8e9;
$mmiIII-color: #acd8e9;
$mmiIV-color: #83d0da;
$mmiV-color: #7bc87f;
$mmiVI-color: #f9f518;
$mmiVII-color: #fac611;
$mmiVIII-color: #fa8a11;
$mmiIX-color: #f7100c;
$mmiX-color: #c80f0a;
$mmiXI-color: #c80f0a;
$mmiXII-color: #c80f0a;

$pager-pending-color: #fff;
$pager-green-color: #00b04f;
$pager-yellow-color: #ff0;
$pager-orange-color: #f90;
$pager-red-color: #f00;

/* CSS variables (used for dynamic values via media queries) */

:root {
  --padding-header: 7rem;
  --padding-gutter: 1rem; /* left and right page gutters */
}

@media only screen
  and (max-width: $breakpoint-phone-width) {
    :root {
      --padding-gutter: .5rem;
    }
}
