@use 'sass:color';

@use 'controls';
@use 'features/index' as features;
@use 'flatpickr';
@use 'header';
@use 'icons';
@use 'impactBubbles';
@use 'infoBar';
@use 'leaflet/index' as leaflet;
@use 'legendBar';
@use 'lightbox';
@use 'loaders';
@use 'mapPane';
@use 'mixins' as *;
@use 'navBar';
@use 'plotly';
@use 'plotsPane';
@use 'searchBar';
@use 'selectBar';
@use 'selectPane';
@use 'settingsBar';
@use 'sideBar';
@use 'significantEqs';
@use 'statusBar';
@use 'summaryPane';
@use 'titleBar';
@use 'tablesort/src/tablesort';
@use 'variables' as *;

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: $link-color;
  text-decoration-color: color.scale($link-color, $lightness: 75%);
  text-decoration-skip-ink: none;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  transition: text-decoration-color $effect-off-duration ease-in;

  &:active {
    color: $link-color-active;
  }
  &:hover {
    text-decoration-color: color.scale($link-color, $lightness: 25%);
    transition: text-decoration-color $effect-on-duration ease-out;
  }
  &:visited {
    color: $link-color-visited;
  }
}

abbr {
  border-bottom: 1px dotted #bbb;
  cursor: help;
  font-variant: none; // avoid browser-default small caps

  &[title] {
    text-decoration: none; // clean up default styling in Chrome
  }
}

body,
html,
main {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: $bg-color-darker;
  color: $text-color;
  position: relative;
}
main {
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family-headers;
  font-weight: 400;
}
h2,
h3,
h4 {
  line-height: 1.25;
}
h2,
h3 {
  align-items: baseline;
  display: flex;
}
h1 {
  font-size: 1.75rem;
  line-height: 1;
  margin: 0;
}
h2 {
  font-size: 2rem;
  margin: 2.25rem 0 .625rem;
}
h3 {
  font-size: 1.5rem;
  margin: 2.25rem 0 1rem;
}
h4 {
  font-size: 1.25rem;
  margin: 0 0 .5rem;
}
h5 {
  font-size: 1rem;
  margin: 1rem 0 .5rem;
}

html {
  box-sizing: border-box;
  font: $font-size $font-family;
}

p {
  line-height: 1.625;
  margin: 1.25rem 0;

  > strong {
    font-weight: 500;
  }
}

table {
  border-collapse: collapse;
  margin: 0 0 .75rem;
}

td,
th {
  padding: .4rem .75rem;

  &:first-child {
    padding-left: .375rem;
  }
  &:last-child {
    padding-right: .375rem;
  }
}

th {
  @include labels;

  padding-bottom: .3rem;
  text-align: center;
}

thead tr {
  border-color: $border-color;
}

tr {
  border-bottom: 1px solid $border-color-lighter;
}

.bubble {
  background: $bg-color;
  border-radius: 12px;
  box-shadow: 0 3px 14px 0 rgba(102 ,102, 102, 0.1);
  padding: 1rem;
}

.content {
  line-height: 1.625;
  padding: 1rem var(--padding-gutter);
}

.count {
  font-size: .8em;
  margin-left: .3em;
  opacity: 1;
  transition: opacity .25s ease-out;

  &:after {
    content: ")";
  }
  &:before {
    content: "(";
  }

  &.hide {
    opacity: 0;
    transition: none;
  }
}

.description {
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0;
}

.feature {
  width: 100%;
}

.icon-check {
  color: green;
}

.pane {
  display: block;
  padding: var(--padding-header) 0 0;

  &.hide {
    display: none;
    max-height: 1vh;
    overflow: hidden;
  }
}

.params {
  display: grid;
  grid-template-columns: max-content auto;
  margin-bottom: 0;

  &.alt {
    dd,
    dt {
      border-bottom: 1px solid $border-color-lightest;
      padding-bottom: .25rem;
      padding-top: .25rem;
    }
    dd {
      padding-left: .75rem;
    }
    dt {
      text-transform: none;
    }
  }

  dd,
  dt {
    line-height: 1.7;
  }
  dd {
    color: $text-color;
    grid-column-start: 2;
    margin: 0;
    padding-left: .5rem;
  }
  dt {
    @include labels;

    grid-column-start: 1;
    line-height: 27px; // accommodate smaller font-size of labels
    text-align: right;
  }
}
