@import '_variables.scss';

@import '_editPane.scss';
@import '_forms.scss';
@import '_helpPane.scss';
@import '_impactBubbles.scss';
@import '_mapPane.scss';
@import '_navBar.scss';
@import '_plotsPane.scss';
@import '_statusBar.scss';
@import '_summaryPane.scss';

abbr[title] {
  text-decoration: none; /* clean up default styling in Chrome */
}

html, body {
  font: $font-size $font-family;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: $link-color;

  &:visited {
    color: $link-color-visited;
  }
  &:active {
    color: $link-color-active;
  }
}

body {
  background: #fff;
  color: #333;
  position: relative;
}

h1, h2, h3, h4 {
  font-family: $font-family-headers;
  font-weight: 400;
  margin: 1rem 0;
}
h1 {
  font-size: 2.1rem;
  margin-top: 0;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}

p.description {
  > strong {
    font-weight: 500;
  }
}

table {
  border-collapse: collapse;
  margin: 0 0 1em;

  abbr {
    border-bottom: 1px dotted #999;
    cursor: help;
  }
}

td {
  padding: .4em 1em;
}

th {
  border-bottom: 1px solid $th-border-color;
  color: #333;
  font: 600 .95rem $font-family-headers;
  padding: .25em .5em;
  text-align: center;
  text-transform: uppercase;
}

tr {
  border-bottom: 1px solid $tr-border-color;

  &:first-child { /* header row; borders set in 'th' selector */
    border: none;
  }
}

.content {
  line-height: 1.6;
  padding: 1em;
}

.darker {
  background: #f9f9f9;
}

.lighter {
  background: #fff;
}

/* Earthquake details: mainshock on edit, summary panes (also Leaflet popups) */
.earthquake, .leaflet-popup-content {
  dd,
  dt {
    line-height: 1.7;
  }
  dd {
    margin-left: 5em;
  }
  dt {
    clear: left;
    color: #555;
    display: inline-block;
    float: left;
    font-weight: 300;
    width: 5em;
  }

  h4 {
    margin: 0;

    > a {
      color: $link-color;

      &:visited {
        color: $link-color-visited;
      }
      &:active {
        color: $link-color-active;
      }
    }
  }

  time {
    display: block;
  }
}

.pane {
  left: 0;
  opacity: 1;
  padding: 2.5em 0 0;
  position: absolute;
  top: 0;
  transition: opacity .15s ease-out;
  width: 100%;

  &.hide {
    max-height: 1vh;
    opacity: 0;
    overflow: hidden;
  }

  &#mapPane {
    padding: 0;
  }
}

@media only screen
  and (max-width: $breakpoint-phone-width) {
    .content {
      padding: 1em .5em;
    }
}
