$breakpoint-phone-width: 735px;
$breakpoint-tablet-width: 1023px;
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size: 16px;
$link-color: rgb(78, 78, 202);
$link-color-active: rgb(204, 0, 0);
$link-color-visited: rgb(140, 78, 202);

@import '_editPane.scss';
@import '_helpPane.scss';
@import '_impactBubbles.scss';
@import '_mapPane.scss';
@import '_navBar.scss';
@import '_plotsPane.scss';
@import '_statusBar.scss';
@import '_summaryPane.scss';

html, body {
  font: $font-size $font-family;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: $link-color;

  &:visited {
    color: $link-color-visited;
  }
  &:active {
    color: $link-color-active;
  }
}

body {
  position: relative;
}

h1 {
  font-size: 1.6rem;
  margin-top: .5rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.1rem;
  font-weight: normal;
}

p.description {
  > strong {
    font-weight: 500;
  }
}

section.hide {
  display: none;
}

table {
  border-collapse: collapse;
  margin: 0 0 1em;

  abbr {
    border-bottom: 1px dotted #999;
    cursor: help;
  }
}

td {
  padding: .4em 1em;
}

th {
  color: #333;
  font-size: .95rem;
  font-weight: 500;
  padding: .25em .5em;
  text-align: center;
  text-transform: uppercase;
}

tr {
  border: solid #e8e8e8;
  border-width: 0 0 1px;

  &:first-child {
    border-color: #ccc;
  }
}

.content {
  line-height: 1.6;
  padding: 1em;
}

.darker {
  background: #f5f8fd;
}

.lighter {
  background: #fff;
}

/* Leaflet popups, earthquake details: mainshock on edit, summary panes */
.leaflet-popup-content, .earthquake {
  dd,
  dt {
    line-height: 1.7;
  }
  dd {
    margin-left: 5em;
  }
  dt {
    clear: left;
    color: #333;
    display: inline-block;
    float: left;
    font-weight: 300;
    width: 5em;
  }

  h4 {
    margin: 0;

    > a {
      color: $link-color;

      &:visited {
        color: $link-color-visited;
      }
      &:active {
        color: $link-color-active;
      }
    }
  }

  time {
    display: block;
  }
}

.pane {
  padding: 2.5em 0;

  &#mapPane {
    padding: 0;
  }
}

@media only screen
  and (max-width: $breakpoint-phone-width) {
    .content {
      padding: 1em .5em;
    }
}
