@use 'control-bottomCenter';
@use 'mousePosition';
@use 'overrides';

/* Scroll wide tables in Leaflet popups elegantly */
.scroll-wrapper {
  overflow: auto;

  th.freeze {
    background: white;
    left: 0;
    position: sticky;
  }
}
