@use '../variables' as *;

.leaflet-center {
  padding: 0;
  text-align: center;
  transition: padding $sidebar-toggle-duration ease;
  width: 100%;

  div {
    display: inline-block;
    float: none;
  }
}

.leaflet-control-mouseposition {
  background: rgba(255, 255, 255, .5);
  color: $text-color;
  font-size: .75rem;
  margin: 0 0 5px 0 !important;
  padding: 2px 4px;
  user-select: none;
}
