@use '../util/variables' as *;

.leaflet-control-region {
  a {
    align-items: center;
    display: flex;
    justify-content: center;

    &:active,
    &.selected {
      .box {
        border-color: $bg-color;
      }

      .icon-close {
        background: $bg-color;
        color: $accent-color;
      }
    }
    &:hover {
      display: flex; // override Leaflet's display:block
    }
  }

  .box {
    align-items: center;
    border: 2px solid $accent-color;
    display: flex;
    height: 15px;
    justify-content: center;
    position: relative;
    width: 15px;
  }

  .icon-close {
    background: $accent-color;
    border-radius: 50%;
    color: $bg-color;
    font: normal 10px Tahoma, Verdana, sans-serif;
    height: 12px;
    line-height: 1.1;
    position: absolute;
    right: -5px;
    text-align: center;
    top: -6px;
    width: 12px;
  }

  // Disabled controls
  .leaflet-disabled .box,
  .leaflet-disabled:active .box {
    border-color: $accent-color-disabled;
  }
  .leaflet-disabled .icon-close,
  .leaflet-disabled:active .icon-close {
    background: $accent-color-disabled;
    color: $bg-color;
  }
}
