@use '../util/variables' as *;

.leaflet-control-region {
  a {
    align-items: center;
    display: flex;
    justify-content: center;

    &:active, &.selected {
      .box {
        border-color: $bg-color;
      }
    }
    &:hover {
      display: flex; // override Leaflet's display:block
    }
  }

  .box {
    align-items: center;
    border: 2px solid $accent-color;
    display: flex;
    height: 15px;
    justify-content: center;
    position: relative;
    width: 15px;
  }

  .icon-close {
    font: normal 11px Tahoma, Verdana, sans-serif;
    line-height: 1.25;
    position: absolute;
    top: -2px;
  }

  // Disable the surrounding box as well as its 'x' button
  .leaflet-disabled .box,
  .leaflet-disabled:active .box,
  .leaflet-disabled .box:active {
    border-color: $accent-color-disabled;
  }
}
