@use '../util/variables' as *;

.leaflet-control-region {
  a {
    align-items: center;
    display: flex;
    justify-content: center;

    &:active, &.selected {
      .box {
        border-color: $bg-color;
      }
    }
    &:hover {
      display: flex; // override Leaflet's display:block
    }
  }

  .box {
    border: 2px solid $accent-color;
    height: 14px;
    width: 14px;
  }

  .icon-close {
    font: normal 22px Tahoma, Verdana, sans-serif;
  }
}
