@layer default {
  .earthquake .local {
    order: 3;
    padding-top: .25rem;
  }
}

// Toggle between user/UTC time
@layer overrides {
  body.user {
    time.utc,
    .details .utc,
    .plotly .line > tspan:nth-of-type(2),
    .utcTime {
      display: none;
    }

    .earthquake.mainshock .user {
      order: 1;
    }

    .earthquake.mainshock .utc {
      display: block;
      order: 2;
      padding-top: .25rem;
    }
  }

  body.utc {
    time.user,
    .details .user,
    .plotly .line > tspan:nth-of-type(1),
    .userTime {
      display: none;
    }

    .earthquake.mainshock .user {
      display: block;
      order: 2;
      padding-top: .25rem;
    }

    .earthquake.mainshock .utc {
      order: 1;
    }
  }
}
