@use 'sass:color';

@use 'mixins' as *;
@use 'variables' as *;

/* Flatpickr overrides and 'Now' button additions */

.flatpickr-wrapper {
  &.invalid {
    .flatpickr-calendar {
      border-color: var(--invalid-color);
      box-shadow: 0 0 3px var(--invalid-color);

      &.arrowBottom:before {
        border-top-color: var(--invalid-color);
      }
      &.arrowTop:before {
        border-bottom-color: var(--invalid-color);
      }
    }
  }

  .dayContainer {
    padding-right: 2px;
  }

  // Use the same border styles as form controls
  .flatpickr-calendar {
    border: 1px solid var(--accent-color);
    border-radius: $button-border-radius;
    box-shadow: 0 0 3px var(--accent-color);
    transition: all $effect-duration ease-in-out;
    z-index: 1001 !important; // stack above map

    &.arrowBottom:before {
      border-top-color: var(--accent-color);
    }
    &.arrowTop:before {
      border-bottom-color: var(--accent-color);
    }
  }

  .flatpickr-current-month {
    margin-left: .5rem;

    input.cur-year {
      font-weight: 300;
    }

    span.cur-month {
      font-weight: 500;

      &:hover {
        background: var(--bg-color);
      }
    }
  }

  .flatpickr-day {
    align-items: center;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    transition: all $effect-off-duration ease-in;

    &:hover,
    &.nextMonthDay:not(.flatpickr-disabled):hover,
    &.prevMonthDay:not(.flatpickr-disabled):hover {
      background: var(--accent-color-lightest);
      border-color: var(--accent-color-lighter);
      color: var(--text-color); // overrides level set below
      transition: all $effect-on-duration ease-out;
    }
    &.nextMonthDay,
    &.prevMonthDay {
      color: rgba(153, 153, 153, .7);
    }

    &.flatpickr-disabled,
    &.flatpickr-disabled:hover {
      background: var(--bg-color);
      border-color: var(--bg-color);
      color: rgba(153, 153, 153, .25);
    }

    &.selected,
    &.selected:hover {
      animation: opacify $effect-on-duration ease-out;
      background: var(--accent-color) !important;
      border-color: var(--accent-color) !important;
      color: var(--bg-color) !important;
      cursor: auto;
    }

    &.today {
      border-color: var(--accent-color);
      transition-property: background, color;

      &:hover {
        border-color: var(--accent-color) !important;

        &:not(.flatpickr-disabled) {
          background: var(--accent-color-lightest);
          color: var(--text-color);
        }
      }
    }
  }

  .flatpickr-months {
    margin-bottom: .5rem;

    .flatpickr-month {
      color: var(--text-color);
    }

    .flatpickr-prev-month,
    .flatpickr-next-month {
      color: var(--accent-color);
      line-height: 1;
      top: 0;

      i {
        font-size: 1rem;
      }
    }
    .flatpickr-prev-month {
      left: 2px;
    }
    .flatpickr-next-month {
      right: 2px;
    }
  }

  .flatpickr-next-month.flatpickr-disabled + .flatpickr-now {
    display: inline; // show 'Now' button
  }

  .flatpickr-now {
    display: none;
    position: absolute;
    right: 5px;
    top: 6px;

    &.selected:hover {
      cursor: auto;
    }
  }

  .flatpickr-time {
    border-color: var(--accent-color-lighter) !important;

    &:last-child {
      border-radius: 0 0 $button-border-radius 0;

      .arrowUp,
      .arrowDown {
        border-right: 0;
      }
    }

    .flatpickr-am-pm {
      color: var(--text-color);

      &:focus {
        background: var(--bg-color);
      }
      &:hover {
        background: var(--accent-color-lightest);
      }
      &:active {
        background: var(--accent-color);
        border-radius: 0;
        color: var(--bg-color);
      }
    }

    .flatpickr-hour {
      border-radius: 0 0 0 $button-border-radius + 2px;
      font-weight: normal;
    }

    .flatpickr-minute {
      border-radius: 0;

      &:invalid {
        border: none;
        box-shadow: none;
      }
    }
  }

  .flatpickr-weekday {
    color: var(--text-color-lighter);
  }

  .numInputWrapper {
    &:first-child {
      border-radius: 0 0 0 $button-border-radius + 2px;
    }

    &:hover {
      background: var(--accent-color-lightest);
    }

    input {
      border: none;
      box-shadow: none;
      color: var(--text-color);

      &:focus,
      &:hover {
        background: var(--accent-color-lightest);
        border: none;
        box-shadow: none;
      }

      &[disabled] {
        ~ span {
          cursor: auto;

          &:hover,
          &:active {
            background: var(--accent-color-lightest);
          }
        }

        ~ .arrowDown:after,
        ~ .arrowDown:active:after {
          border-top-color: #bbb;
        }
        ~ .arrowUp:after,
        ~ .arrowUp:active:after {
          border-bottom-color: #bbb;
        }
      }
    }

    span { // up, down arrows
      border-color: var(--accent-color-lighter);
      transition: all $effect-off-duration ease-in;

      &.arrowDown:after,
      &.arrowUp:after {
        transition: all $effect-off-duration ease-in;
      }
      &.arrowDown:after {
        border-top-color: var(--accent-color);
      }
      &.arrowUp:after {
        border-bottom-color: var(--accent-color);
      }

      &:hover {
        background: var(--accent-color-lighter);
      }
      &:active {
        background: var(--accent-color);
        transition: all $effect-on-duration ease-out;

        &.arrowDown:after,
        &.arrowUp:after {
          transition: all $effect-on-duration ease-out;
        }
        &.arrowDown:after {
          border-top-color: var(--bg-color);
        }
        &.arrowUp:after {
          border-bottom-color: var(--bg-color);
        }
      }

      &.arrowUp {
        border-top: none;

        &:after {
          top: 35%;
        }
      }
    }
  }
}

@include opacify;
