@use 'opt/variables' as *;

// Flatpickr overrides, 'Now' button

@layer overrides {
  .invalid .flatpickr-calendar {
    border-color: var(--invalid-color);
    box-shadow: $box-shadow-length var(--invalid-color);

    &.arrowBottom:before {
      border-top-color: var(--invalid-color);
    }

    &.arrowTop:before {
      border-bottom-color: var(--invalid-color);
    }
  }

  .dayContainer {
    padding: 0 2px 2px 0;
  }

  .flatpickr-am-pm {
    color: var(--text-color);

    &:focus {
      background: var(--bg-color);
    }

    &:hover {
      background: var(--accent-color-lightest);
    }

    &:active {
      background: var(--accent-color);
      color: var(--bg-color);
    }
  }

  .flatpickr-calendar {
    background: var(--bg-color);
    border: 1px solid var(--accent-color);
    border-radius: $button-border-radius;
    box-shadow: $box-shadow-length var(--accent-color);
    transition: $effect-on-duration ease-in-out {
      property: border-color, box-shadow;
    };

    &.arrowBottom:after {
      border-top-color: var(--bg-color);
    }
    &.arrowBottom:before {
      border-top-color: var(--accent-color);
    }

    &.arrowTop:after {
      border-bottom-color: var(--bg-color);
    }
    &.arrowTop:before {
      border-bottom-color: var(--accent-color);
    }

    &.open {
      z-index: 1001; // stack above map
    }

    input {
      border: none;
      border-radius: 0;
      box-shadow: none;
      font-size: inherit;
      margin: 0;
      padding: 0;
      transition: background $effect-duration ease-in-out;

      &:focus,
      &:hover {
        background: var(--accent-color-lightest);
        transition-duration: $effect-on-duration;
      }

      &[disabled] {
        background: var(--bg-color);
        cursor: not-allowed;
        pointer-events: all;

        ~ :is(.arrowDown, .arrowDown:active):after {
          border-top-color: var(--text-color-disabled);
        }

        ~ :is(.arrowUp, .arrowUp:active):after {
          border-bottom-color: var(--text-color-disabled);
        }

        ~ span { // up, down arrows
          border-color: var(--border-color-lighter);
          cursor: not-allowed;

          &:hover,
          &:active {
            background: var(--bg-color);
          }
        }
      }
    }

    .flatpickr-hour {
      border-bottom-left-radius: $button-border-radius + 2px;
      font-weight: normal;
    }

    .flatpickr-minute {
      border-bottom-right-radius: $button-border-radius + 2px;
    }
  }

  .flatpickr-current-month {
    margin-left: .5rem;

    .cur-month {
      font-weight: 500;
      margin: 0 .125rem 0 0;

      &:hover {
        background: var(--bg-color);
      }
    }

    .cur-year {
      font-weight: 300;
      padding-left: .25rem;

      &:focus {
        background: var(--bg-color);
      }
    }
  }

  .flatpickr-day {
    align-items: center;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    transition: $effect-duration ease-in-out {
      property: background, border-color;
    };

    &:focus,
    &:hover {
      background: var(--accent-color-lightest);
      border-color: var(--accent-color-lighter);
      transition-duration: $effect-on-duration;
    }

    &.nextMonthDay,
    &.prevMonthDay {
      color: var(--text-color-lightest);
    }

    &.flatpickr-disabled {
      background: var(--bg-color);
      border-color: var(--bg-color);
      color: var(--text-color-disabled); // must follow .next/prevMonthDay color
    }

    &.selected {
      animation: $effect-on-duration ease-in-out selected;
      background: var(--accent-color);
      border-color: var(--accent-color);
      color: var(--bg-color);
      cursor: auto;
    }

    &.today {
      border-color: var(--accent-color);

      &:hover:not(.flatpickr-disabled, .selected) {
        background: var(--accent-color-lightest);
      }
    }
  }

  .flatpickr-disabled + .flatpickr-now {
    display: inline; // show 'Now' button
  }

  .flatpickr-month {
    color: var(--text-color);
  }

  .flatpickr-months {
    margin-bottom: .375rem;
  }

  .flatpickr-next-month,
  .flatpickr-prev-month {
    color: var(--accent-color);
    line-height: 1;

    i {
      font-size: 1rem;
    }
  }

  .flatpickr-now {
    display: none;
    position: absolute;
    right: 6px;
    top: 6px;

    &.selected:hover {
      cursor: auto;
    }
  }

  .flatpickr-time {
    border-color: var(--accent-color-lighter);

    .arrowDown,
    .arrowUp {
      border-right: none;
    }

    .arrowUp {
      border-top: none;

      &:after {
        top: 40%;
      }
    }
  }

  .flatpickr-weekday {
    color: var(--text-color-lighter);
  }

  .numInputWrapper span { // up, down arrows
    border-color: var(--accent-color-lighter);
    transition: $effect-duration ease-in-out {
      property: background, opacity;
    };

    &:after {
      transition: border-color $effect-duration ease-in-out;
    }

    &.arrowDown:after {
      border-top-color: var(--accent-color);
    }

    &.arrowUp:after {
      border-bottom-color: var(--accent-color);
    }

		&:active,
		&:active:after,
		&:hover {
			transition-duration: $effect-on-duration;
		}

		&:hover {
			background: var(--accent-color-lighter);
		}

    &:active {
      background: var(--accent-color);

      &.arrowDown:after {
        border-top-color: var(--bg-color);
      }

      &.arrowUp:after {
        border-bottom-color: var(--bg-color);
      }
    }
  }

  .numInputWrapper ~ .numInputWrapper .arrowDown {
    border-bottom-right-radius: $button-border-radius;
  }

  @keyframes selected {
    0% {
      color: var(--text-color);
      opacity: 0;
    }
    100% {
      color: var(--bg-color);
      opacity: 1;
    }
  }
}
