@use 'variables' as *;

@mixin close() {
  background: #fff;
  border-radius: 50%;
  color: $accent-color;
  cursor: pointer;
  font: bold 16px Tahoma, Verdana, sans-serif;
  height: 23px;
  line-height: 1.35;
  padding: 0;
  right: 2px;
  top: 2px;
  text-align: center;
  transition: all $effect-off-duration-shorter ease-in;
  width: 23px;

  &:hover {
    background: $accent-color-lightest;
    transition: background $effect-on-duration ease-out;
  }
  &:active {
    background: $accent-color;
    color: $bg-color;
    transition: all $effect-on-duration ease-out;
  }
}

@mixin labels() {
  color: $text-color-lighter;
  font: 700 .9375rem $font-family-headers;
  text-transform: uppercase;
}
