@use 'opt/variables' as *;

// !important declarations override lib's inline styles

@layer overrides {
  .plotly {
    [data-title] {
      &:after {
        background: var(--accent-color-lightest) !important;
        border-radius: $button-border-radius !important;
        color: var(--accent-color) !important;
        font: 500 $font-size $font-family !important;
      }

      &:before {
        border-color: transparent transparent var(--accent-color-lightest) !important;
      }
    }

    .hovertext {
      path {
        fill: var(--bg-color) !important;
        fill-opacity: .9;
        stroke: var(--border-color) !important;
      }

      text {
        fill: var(--text-color) !important;
        font: $font-size $font-family !important;
      }
    }

    .modebar-btn {
      &:is(:hover, .active) path {
        fill: var(--accent-color) !important;
        transition-duration: $effect-on-duration;
      }

      path {
        fill: var(--accent-color-hover) !important;
        transition: fill $effect-duration ease-in-out;
      }
    }

    .xtitle,
    .ytitle {
      font-weight: 500 !important;
    }
  }
}
