@use 'sass:color';

@use 'variables' as *;

/* Plotly overrides */

#plotsPane {
  .hovertext {
    path {
      fill: #fff !important;
      fill-opacity: 0.9;
      stroke: #ccc !important;
    }

    text {
      fill: $text-color !important;
      font: $font-size $font-family !important;
    }
  }

  .modebar-btn {
    path {
      fill: color.scale($accent-color, $alpha: -4%, $lightness: 75%) !important;
      transition: fill $effect-off-duration ease-in;
    }

    &:hover path,
    &.active path {
      fill: $accent-color !important;
      transition: fill $effect-on-duration ease-out;
    }
  }

  .plotly [data-title] {
    &:after {
      background: $accent-color-lightest;
      color: $accent-color;
      font: $font-size $font-family;
    }
    &:before {
      border-color: transparent transparent $accent-color-lightest;
    }
  }

  .xtitle,
  .ytitle {
    font-weight: 500 !important;
  }
}
