@use 'sass:color';

@use 'variables' as *;

/* Plotly overrides */

#plotsPane {
  .hovertext {
    path {
      fill: #fff !important;
      fill-opacity: 0.9;
      stroke: #ccc !important;
    }

    text {
      fill: var(--text-color) !important;
      font: $font-size $font-family !important;
    }
  }

  .modebar-btn {
    path {
      fill: color.scale($accent-color, $alpha: -4%, $lightness: 75%) !important;
      transition: fill $effect-off-duration ease-in;
    }

    &:hover path,
    &.active path {
      fill: var(--accent-color) !important;
      transition: fill $effect-on-duration ease-out;
    }
  }

  .plotly [data-title] {
    &:after {
      background: var(--accent-color-lightest);
      color: var(--accent-color);
      font: $font-size $font-family;
    }
    &:before {
      border-color: transparent transparent var(--accent-color-lightest);
    }
  }

  .xtitle,
  .ytitle {
    font-weight: 500 !important;
  }
}
