@use 'opt/mixins' as *;
@use 'opt/variables' as *;

@layer default {
  .props {
    display: grid;
    gap: .375rem .5rem;
    grid-template-columns: max-content auto;
    line-height: $line-height-alt;
    margin: 1rem 0 0;

    &.alt {
      gap: 0;

      dd,
      dt {
        border-bottom: 1px solid var(--border-color-lightest);
        padding-bottom: .4375rem;
        padding-top: .4375rem;

        &:first-child,
        &:nth-child(2) {
          padding-top: 0
        }

        &:nth-last-child(2),
        &:last-child {
          border-bottom: 0;
          padding-bottom: 0;
        }
      }

      dd {
        padding-left: .75rem;
      }

      dt {
        text-transform: none;
      }
    }

    dd {
      margin: 0;
    }

    dt {
      @include labels;

      text-align: right;
    }
  }
}
