@use '../opt/variables' as *;

@layer default {
  .leaflet-control-region {
    :is(.leaflet-disabled, .leaflet-disabled:active) .box {
      border-color: var(--accent-color-disabled);
    }

    :is(.leaflet-disabled, .leaflet-disabled:active) .close {
      background: var(--accent-color-disabled);
      color: var(--bg-color);
    }

    a {
      align-items: center;
      display: flex;
      justify-content: center;

      &:active,
      &.selected {
        .box {
          border-color: var(--bg-color);
        }

        .close {
          background: var(--bg-color);
          color: var(--accent-color);
        }
      }
    }

    .box {
      border: 2px solid var(--accent-color);
      height: 15px;
      position: relative;
      width: 15px;
    }

    .close {
      background: var(--accent-color);
      border-radius: 50%;
      color: var(--bg-color);
      font: 10px/1.1 $font-family-buttons;
      height: 12px;
      position: absolute;
      right: -7px;
      text-align: center;
      top: -7px;
      width: 12px;
    }
  }

  .leaflet-path-draggable {
    fill: var(--accent-color);
    stroke: var(--accent-color);
  }
}
