@use 'sass:color';

$breakpoint-phone-width: 735px;
$breakpoint-tablet-width: 1023px;

$button-border-radius: 4px;
$content-border-radius: 12px;

$effect-duration: .25s;
$effect-off-duration: $effect-duration;
$effect-off-duration-shorter: .15s;
$effect-on-duration: .05s;
$effect-slide-duration: .175s;

$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-headers: 'Open Sans', sans-serif;
$font-family-mmi: Tahoma, Verdana, Segoe, sans-serif;
$font-size: 16px;
$font-size-smaller: .875rem;

$line-height: 1.625;

$panel-width: 25rem;
$sidebar-width: 25rem;

/* MMI, PAGER impact bubbles */

$mmi-NAcolor: #eee;
$mmiI-color: #fff;
$mmiII-color: #acd8e9;
$mmiIII-color: #acd8e9;
$mmiIV-color: #83d0da;
$mmiV-color: #7bc87f;
$mmiVI-color: #f9f518;
$mmiVII-color: #fac611;
$mmiVIII-color: #fa8a11;
$mmiIX-color: #f7100c;
$mmiX-color: #c80f0a;

$pager-pending-color: #fff;
$pager-green-color: #00b04f;
$pager-yellow-color: #ff0;
$pager-orange-color: #f90;
$pager-red-color: #f00;

/* Colors (CSS vars preferred, but SCSS vars are necessary for calculations) */

$accent-color: #4440CC;
$accent-color-disabled: color.scale($accent-color, $lightness: 75%);
$accent-color-lighter: color.scale($accent-color, $alpha: -4%, $lightness: 91%);
$accent-color-lightest: color.scale($accent-color, $alpha: -4%, $lightness: 96%, $saturation: 25%);

$button-text-shadow: 1px 1px 2px color.scale($accent-color, $blackness: 50%);

$invalid-color: #c00;

/* CSS variables (dynamic) */

:root {
  --accent-color: #{$accent-color};
  --accent-color-disabled: #{$accent-color-disabled};
  --accent-color-lighter: #{$accent-color-lighter};
  --accent-color-lightest: #{$accent-color-lightest};

  --bg-color: #fff;
  --bg-color-alpha: rgba(255, 255, 255, .96);
  --bg-color-darker: #f7f7f7;

  --border-color: #ddd;
  --border-color-lighter: #efefef;
  --border-color-lightest: #f6f6f6;

  --button-text-shadow: #{$button-text-shadow};

  --control-color: #ddd;

  --invalid-color: #{$invalid-color};

  --padding-header: 7rem;
  --padding-gutter: 1rem; // left and right page gutters

  --text-color: #333;
  --text-color-darker: #000;
  --text-color-disabled: #ccc;
  --text-color-lighter: #555;
  --text-color-lightest: #999;
}

@media only screen
  and (max-width: $breakpoint-phone-width) {
    :root {
      --padding-gutter: .5rem;
    }
}
