@use '../opt/variables' as *;

@layer default {
  a.button {
    border: 1px solid transparent;
    border-radius: $button-border-radius;
    font: bold .8125rem $font-family-headers;
    padding: .125rem .375rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: $effect-duration ease-in-out {
      property: background, border-color, color, text-shadow;
    };

    &:hover {
      background: var(--accent-color-lightest);
      border-color: var(--accent-color);
      cursor: pointer;
      transition-duration: $effect-on-duration;
    }

    &.selected {
      background: var(--accent-color);
      color: var(--bg-color);
      text-shadow: var(--button-text-shadow);
      transition-duration: $effect-on-duration;
    }
  }

  button {
    background: var(--bg-color);
    border: 1px solid var(--accent-color);
    border-radius: $button-border-radius;
    color: var(--accent-color);
    cursor: pointer;
    font: bold 1.125rem $font-family-headers;
    line-height: 1;
    margin: 0;
    padding: .375rem .75rem;
    text-transform: uppercase;
    transition: $effect-duration ease-in-out {
      property: background, border-color, box-shadow, color, text-shadow;
    };
    user-select: none;

    &:active,
    &:focus,
    &:hover {
      background: var(--accent-color-lightest);
      transition-duration: $effect-on-duration;
    }

    &:active {
      background: var(--accent-color);
      box-shadow: inset 0 3px 8px rgba(0, 0, 0, .35);
      color: var(--bg-color);
      outline: none;
      text-shadow: var(--button-text-shadow);
    }

    &:focus {
      outline: none;
    }

    &:after {
      display: block;
      font-size: $font-size-smallest;
      font-weight: normal;
      margin-top: .25rem;
    }

    &[disabled] {
      background: var(--bg-color);
      border-color: var(--accent-color-disabled);
      box-shadow: none;
      color: var(--accent-color-disabled);
      cursor: not-allowed;
      text-shadow: none;
    }
  }
}
