@use 'sass:color';

@use '../variables' as *;

a.button {
  border: 1px solid transparent;
  border-radius: $button-border-radius;
  font: bold .8125rem $font-family-headers;
  padding: .125rem .375rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all $effect-off-duration-shorter ease-in;

  &:hover {
    background: $accent-color-lightest;
    border-color: $accent-color;
    cursor: pointer;
    transition: all $effect-on-duration ease-out;
  }

  &.selected {
    background: $accent-color;
    color: $bg-color;
    transition: all $effect-on-duration ease-out;
    text-shadow: $button-text-shadow;
  }
}

button {
  appearance: none;
  background: $bg-color;
  border: 1px solid $accent-color;
  border-radius: $button-border-radius;
  color: $accent-color;
  cursor: pointer;
  font: 700 1.125rem $font-family-headers;
  margin: 1rem 0 0;
  padding: .3125rem .75rem;
  text-align: center;
  text-transform: uppercase;
  transition: all $effect-off-duration-shorter ease-in;
  user-select: none;
  white-space: nowrap;

  &:active,
  &:focus,
  &:hover {
    background: $accent-color-lightest;
    transition: all $effect-on-duration ease-out;
  }
  &:active {
    background: $accent-color;
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, .35);
    color: #fff;
    outline: 0;
    text-shadow: $button-text-shadow;
  }
  &:focus {
    outline: 0;
  }

  &:after {
    display: block;
    font-size: .75rem;
    font-weight: 400;
    margin-top: -.125rem;
  }

  &[disabled] {
    background: $bg-color;
    border-color: $accent-color-disabled;
    box-shadow: none;
    color: $accent-color-disabled;
    cursor: not-allowed;
    text-shadow: none;
  }

  &#reset {
    background: $reset-button-color;
    border-color: color.scale($reset-button-color, $blackness: 15%);
    color: $text-color-lighter;

    &:active,
    &:focus,
    &:hover {
      background: color.scale($reset-button-color, $lightness: 40%);
      border-color: color.scale($reset-button-color, $blackness: 25%);
      color: $text-color;
      text-shadow: none;
    }
    &:active {
      box-shadow: inset 0 1px 5px rgba(0, 0, 0, .1);
    }

    &.dim {
      opacity: .5;
    }
  }
}
