@use '../variables' as *;

/* Check boxes, radio inputs
   (customized to Leaflet's html rendering)
--------------------------------------------- */

input[type="checkbox"],
input[type="radio"] {
  display: none;

  + span:before {
    align-items: center;
    background: var(--bg-color);
    border: 1px solid #888;
    content: '\00a0';
    display: flex;
    font: 1rem/1 'Arial Unicode MS';
    height: 1rem;
    justify-content: center;
    margin-right: .5rem;
    position: relative;
    text-shadow: var(--button-text-shadow);
    top: 0px;
    width: 1rem;
  }
}
input[type="checkbox"] + span:before {
  border-radius: 3px;
}
input[type="radio"] + span:before {
  border-radius: 50%;
  font-size: 10px;
}

input[type="checkbox"]:checked + span:before,
input[type="radio"]:checked + span:before {
  background: var(--accent-color);
  border-color: var(--accent-color);
  color: #fff;
}
input[type="checkbox"]:checked + span:before {
  content: '\2713';
}
input[type="radio"]:checked + span:before {
  content: '\25CF';
}

/* Text / number inputs
--------------------------------------------- */

input[type="text"],
input[type="number"] {
  border: 1px solid var(--border-color-lighter);
  border-radius: $button-border-radius;
  box-shadow: inset 0 1px 4px 0 hsla(0, 0%, 0%, .08);
  font-size: .9rem;
  margin: 0 1px 3px 0;
  outline: none;
  padding: 6px 0 6px 6px;
  transition: all $effect-duration ease-in-out;
  width: 100%;

  &:autofill {
    background: none !important;
  }

  &:focus,
  &.active { // .active is for Flatpickr inputs
    border: 1px solid var(--accent-color);
    box-shadow: 0 0 3px var(--accent-color);
  }
}

// Invalid Flatpickr inputs
.invalid > input[type="text"] {
  border: 1px solid var(--invalid-color);
  box-shadow: 0 0 3px var(--invalid-color);
}

// Flag invalid inputs when a Mainshock is selected
.mainshock {
  input[type="text"]:invalid,
  input[type="number"]:invalid {
    border: 1px solid var(--invalid-color);
    box-shadow: 0 0 3px var(--invalid-color);
  }
}
