@use '../opt/variables' as *;

@layer default {
  ul.options {
    align-items: center;
    border: 1px solid var(--accent-color);
    border-radius: $button-border-radius;
    display: inline-flex;

    li {
      background: var(--bg-color);
      border-left: 1px solid var(--accent-color);
      color: var(--accent-color);
      cursor: pointer;
      font: 600 .8125rem $font-family-labels;
      margin: 0;
      padding: .25rem .5rem;
      text-align: center;
      text-transform: uppercase;
      transition: $effect-duration-shorter ease-in-out {
        property: background, color, text-shadow;
      };

      &:first-child {
        border: none;
        border-radius: $button-border-radius 0 0 $button-border-radius;
      }

      &:last-child {
        border-radius: 0 $button-border-radius $button-border-radius 0;
      }

      &:hover {
        background: var(--accent-color-lightest);
        transition-duration: $effect-on-duration;
      }

      &.selected {
        background: var(--accent-color);
        border-radius: 0;
        color: var(--bg-color);
        cursor: auto;
        text-shadow: var(--button-text-shadow);
        transition-duration: $effect-on-duration;
      }
    }
  }
}
