@use '../opt/variables' as *;

@layer default {
  .switch {
    display: none; // input

    &:active + label {
      color: var(--text-color-darker);
    }

    &:checked + label {
      background: var(--accent-color);
      border-color: var(--accent-color);
      padding-left: 1rem;
      width: 1.25rem;
    }

    + label { // switch
      background: var(--control-color);
      border: 2px solid var(--control-color);
      border-radius: 2rem;
      box-sizing: content-box;
      cursor: pointer;
      display: block;
      padding: 0;
      position: relative;
      transition: $effect-duration-shorter ease-in-out {
        property: background, border-color, padding, width;
      };
      width: 2.25rem;

      &:before {
        background: var(--bg-color);
        border-radius: 50%;
        content: '';
        display: block;
        height: 1.25rem;
        width: 1.25rem;
      }

      span { // text
        font: #{$font-size-larger}/1 $font-family-headers;
        left: 2.25rem;
        padding-left: .5rem;
        position: absolute;
        top: .0625rem;
        white-space: nowrap;
      }
    }
  }
}
