@use 'sass:color';
@use '../variables' as *;

#summaryPane {
  .probabilities {
    display: flex;
    line-height: 1;

    a {
      border: 1px solid $border-color;
      border-radius: 3px;
      color: $text-color;
      display: block;
      margin-right: 1rem;
      text-align: center;
      text-decoration: none;
      transition: all $hover-off-duration ease-in;
      width: 6rem;

      &:hover {
        border-color: color.scale($accent-color, $whiteness: 50%);
        color: $accent-color;
        transition: all $hover-on-duration ease-out;

        abbr {
          border-color: color.scale($accent-color, $whiteness: 60%);
          color: color.scale($accent-color, $whiteness: 40%);
          transition: all $hover-on-duration ease-out;
        }

        h4 {
          background: $accent-color-lightest;
          transition: background $hover-on-duration ease-out;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      abbr {
        color: $text-color-lightest;
        font-size: .8rem;
        display: inline-block;
        margin-top: 5px;
        transition: all $hover-off-duration ease-in;
      }

      h4 {
        background: $bg-color-darker;
        border-radius: 3px 3px 0 0;
        padding: 4px 0;
        transition: background $hover-off-duration ease-in;
      }

      ul {
        list-style: none;
        margin: .75rem 0 1rem;
        padding: 0;
      }

      .probability {
        font: 1.25rem $font-family-mmi;
      }
    }
  }
}
