#summaryPane {
  table.m0 tr.m0,
  table.m1 tr.m1,
  table.m2 tr.m2,
  table.m3 tr.m3,
  table.m4 tr.m4,
  table.m5 tr.m5,
  table.m6 tr.m6,
  table.m7 tr.m7,
  table.m8 tr.m8,
  table.m9 tr.m9 {
    display: table-row;
  }

  tr.m0,
  tr.m1,
  tr.m2,
  tr.m3,
  tr.m4,
  tr.m5,
  tr.m6,
  tr.m7,
  tr.m8,
  tr.m9 {
    display: none;
  }

  .bin {
    td, th {
      padding-left: .4em;
      padding-right: .4em;
    }
    td {
      &:not(:first-child) {
        text-align: right;
      }

      &.total {
        background-color: $bg-color-darker;
      }
    }

    th {
      &.period {
        border-bottom: 1px solid $border-color-lighter;
        font-weight: 400;
        text-align: right;
      }
      &.rowlabel {
        border-bottom: 1px solid $border-color-lighter;
        border-right: 1px solid $border-color;
        padding-right: 1em;
        text-align: center;
      }
    }
  }

  .bins {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -1.25em;

    table {
      margin-right: 2em;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .hide-year .year {
    display: none; /* hide year column when duration is 30 days or less */
  }

  .eqlist {
    td {
      .tz {
        display: none;
      }

      &.depth,
      &.distance,
      &.mag {
        text-align: right;
      }
      &.distance span {
        display: inline-block;
        text-align: left;
        width: 1.5em;
      }
      &.latlng {
        text-align: center;
      }
    }

    th {
      position: relative;

      &.sort-header {
        cursor: pointer;
        white-space: nowrap;

        &:after {
          border-color: #404040 transparent;
          border-style: solid;
          border-width: 0 4px 4px;
          content: '';
          display: inline-block;
          margin: 8px 0 4px 2px;
          position: absolute;
          visibility: hidden;
        }
        &:hover {
          color: $text-color-darker;
        }
        &:selection {
          background: transparent;
        }

        &.sort-up:after,
        &.sort-down:after {
          opacity: 1.0;
          visibility: visible;
        }
        &.sort-up:after {
          border-bottom: none;
          border-width: 4px 4px 0;
        }
      }
    }

    tr {
      transition: all .25s ease-out;
    }
    tr:hover:not(.no-sort), .selected {
      background: $accent-color-lightest;
      color: $link-color;
      cursor: pointer;
      transition-duration: 0s;
    }
  }
}

/* Earthquake details shown on edit, map (popup), and summary panes
    (also used for other (i.e. non-eq) Leaflet popups) */
.earthquake, .leaflet-popup-content {
  dd, dt {
    line-height: 1.7;
  }
  dd {
    color: $text-color;
    margin-left: 5em;
  }
  dl {
    margin-bottom: 0;
  }
  dt {
    clear: left;
    color: $text-color-lighter;
    display: inline-block;
    float: left;
    font-weight: 300;
    letter-spacing: .015em;
    margin-right: .75em;
    text-align: right;
    width: 4.25em;
  }
  h4 {
    margin: 0;
  }
  time {
    display: block;
  }
}
