@use '../variables' as *;

#summaryPane {
  table.m0 tr.m0,
  table.m1 tr.m1,
  table.m2 tr.m2,
  table.m3 tr.m3,
  table.m4 tr.m4,
  table.m5 tr.m5,
  table.m6 tr.m6,
  table.m7 tr.m7,
  table.m8 tr.m8,
  table.m9 tr.m9 {
    display: table-row;
  }

  tr.m0,
  tr.m1,
  tr.m2,
  tr.m3,
  tr.m4,
  tr.m5,
  tr.m6,
  tr.m7,
  tr.m8,
  tr.m9 {
    display: none;
  }

  .bin {
    td,
    th {
      padding: .4rem;
    }
    td {
      &.total {
        background-color: $bg-color-darker;
      }

      &:not(:first-child) {
        text-align: right;
      }
    }
    th {
      &.period {
        border-bottom: 1px solid $border-color-lighter;
        font-weight: 400;
        text-align: right;
      }

      &.rowlabel {
        border-bottom: 1px solid $border-color-lighter;
        border-right: 1px solid $border-color;
        padding-right: 1rem;
        text-align: center;
      }
    }
  }

  .bins {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -1.25rem;

    table {
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .hide-year .year {
    display: none; /* hide year column when duration is 30 days or less */
  }

  .eqlist {
    td {
      &.depth,
      &.distance,
      &.mag {
        text-align: right;
      }

      &.distance span {
        display: inline-block;
        text-align: left;
        width: 1.5rem;
      }

      &.latlng {
        text-align: center;
      }

      .tz {
        display: none;
      }
    }

    th {
      position: relative;
    }

    tr {
      transition: all $hover-off-duration ease-in;

      &.selected,
      &:hover:not(.no-sort) {
        background: $accent-color-lightest;
        color: $link-color;
        cursor: pointer;
        transition: all $hover-on-duration ease-out;
      }
    }
  }
}

/* Earthquake details shown on edit, map (popup), and summary panes
    (also used for other (i.e. non-eq) Leaflet popups) */
.earthquake,
.leaflet-popup-content {
  &.selected .distance {
    display: none;
  }

  dd,
  dt {
    line-height: 1.7;
  }
  dd {
    color: $text-color;
    margin-left: 5rem;
  }
  dt {
    clear: left;
    color: $text-color-lighter;
    display: inline-block;
    float: left;
    font-weight: 300;
    letter-spacing: .015rem;
    margin-right: .75rem;
    text-align: right;
    width: 4.25rem;
  }

  dl {
    margin-bottom: 0;
  }

  time {
    display: block;
  }
}
