@use '../variables' as *;

#plotsPane {
  .cumulative {
    height: 33vh;
  }

  .hypocenters {
    height: 83vh;
  }

  .js-plotly-plot {
    width: 100%;
  }

  .magtime {
    height: 33vh;
  }
}

#summaryPane {
  h3 {
    .mag {
      margin-left: .25em; /* account for collapse of whitespace by display:flex */
    }
  }

  table.m0 tr.m0,
  table.m1 tr.m1,
  table.m2 tr.m2,
  table.m3 tr.m3,
  table.m4 tr.m4,
  table.m5 tr.m5,
  table.m6 tr.m6,
  table.m7 tr.m7,
  table.m8 tr.m8,
  table.m9 tr.m9 {
    display: table-row;
  }

  tr.m0,
  tr.m1,
  tr.m2,
  tr.m3,
  tr.m4,
  tr.m5,
  tr.m6,
  tr.m7,
  tr.m8,
  tr.m9 {
    display: none;
  }

  .bin {
    td {
      &.total {
        background: $bg-color-darker;
      }

      &:not(:first-child) {
        text-align: right;
      }
    }

    th {
      &.period {
        border-bottom: 1px solid $border-color-lighter;
        font-weight: 400;
        padding-right: 2px;
        text-align: right;
      }

      &.rowlabel {
        border-bottom: 1px solid $border-color-lighter;
        border-right: 1px solid $border-color;
        padding-right: .75rem;
        text-align: center;
      }
    }

    tr:first-child {
      border-bottom: 1px solid $border-color;
    }
  }

  .bins {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -1.25rem;

    table {
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .filter {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: -.5rem;

    label {
      margin-left: 1rem;
    }
  }

  .hide-year .year {
    display: none; /* hide year column when duration is 30 days or less */
  }

  .list {
    td {
      &.depth,
      &.distance,
      &.mag {
        text-align: right;
      }

      &.distance span {
        display: inline-block;
        text-align: left;
        width: 1.5rem;
      }

      &.latlng {
        text-align: center;
      }

      .tz {
        display: none;
      }
    }

    th {
      position: relative;
    }

    thead tr {
      border-color: $border-color;
    }

    tr {
      transition: all $effect-off-duration ease-in;

      &.selected,
      &:hover:not(.no-sort) {
        background: $accent-color-lightest;
        color: $text-color-darker;
        cursor: pointer;
        transition: all $effect-on-duration ease-out;
      }

      &:active td {
        background: $accent-color;
        color: #fff !important;

        &.mag span {
          color: #fff !important;
        }
      }
    }
  }
}

/* Earthquake details shown on edit, map (popup), and summary panes
    (also used for other (i.e. non-eq) Leaflet popups) */
.earthquake,
.leaflet-popup-content {
  &.mainshock,
  &.search {
    .distance {
      display: none;
    }
  }
  &.mainshock {
    button {
      display: none;
    }
  }

  position: relative;

  button {
    &:after {
      content: 'Earthquake';
    }

    bottom: .45rem;
    padding-bottom: 2px;
    padding-top: 2px;
    position: absolute;
    right: 0;
  }

  dd,
  dt {
    line-height: 1.7;
  }
  dd {
    color: $text-color;
    margin-left: 5rem;
  }
  dt {
    clear: left;
    color: $text-color-lighter;
    display: inline-block;
    float: left;
    font-weight: 300;
    letter-spacing: .015rem;
    margin-right: .75rem;
    text-align: right;
    width: 4.25rem;
  }

  dl {
    margin-bottom: 0;
  }

  time {
    display: block;
  }

  .status {
    text-transform: capitalize;
  }
}

@media only screen
and (max-width: $breakpoint-phone-width) {
  #summaryPane {
    .list {
      position: relative;
      width: 100%;

      &.m0 tr.m0,
      &.m1 tr.m1,
      &.m2 tr.m2,
      &.m3 tr.m3,
      &.m4 tr.m4,
      &.m5 tr.m5,
      &.m6 tr.m6,
      &.m7 tr.m7,
      &.m8 tr.m8,
      &.m9 tr.m9 {
        display: block;
      }

      tr.m0,
      tr.m1,
      tr.m2,
      tr.m3,
      tr.m4,
      tr.m5,
      tr.m6,
      tr.m7,
      tr.m8,
      tr.m9 {
        display: none;
      }

      /* Reflow table content */
      tbody {
        border-top: 1px solid $border-color-lighter;

        td,
        tr {
          display: block;
        }
        td {
          line-height: 1;
          padding: 0 .5rem;
        }

        .depth,
        .distance {
          color: $text-color-lighter;
          font-size: .95rem;
        }
        .depth {
          float: right;
        }
        .distance {
          margin-top: -.5rem;
          text-align: left;

          span {
            width: auto;
          }
        }
        .distance:after {
          content: ' of Mainshock';
        }

        .distance,
        .utcTime {
          padding: .5rem 0 .5rem 3.5rem;
        }

        .eqid,
        .location {
          display: none;
        }

        .mag {
          float: left;
          font-size: 1.15rem;
          margin-top: .8rem;
          text-align: center;

          span {
            color: $text-color-lighter;
            display: block;
            font-size: .75rem;
            font-weight: 300;
          }
        }
      }

      /* Sort options menu */
      th {
        font-size: 1rem;
        font-weight: 400;

        abbr {
          border-bottom: none;
        }
      }

      thead tr {
        border: none;
        transition: none;
      }

      /* Unexpanded sort options select menu */
      th {
        display: none;
        margin-top: -.25rem;
        padding: 0;

        &.sort-down,
        &.sort-up { /* show current sorted-by field */
          border-bottom: 1px solid $accent-color;
          display: inline-block;

          &:before {
            color: $text-color-lighter;
            content: 'Sort by: ';
            font-size: .95rem;
            text-transform: none;
          }
        }

        span:before {
          display: none; /* hide sort order arrow's hover state */
        }
      }

      /* Expanded sort options select menu */
      &.show-menu {
        thead {
          th {
            border-bottom: none;
            display: block;
            margin: 0;
            padding: .5rem 1.5rem;
            position: relative;
            text-align: left;
            transition: none $effect-off-duration ease-in;
            transition-property: background, color;

            &.distance {
              border-radius: 0 0 $button-border-radius $button-border-radius;
            }

            &.sort-down,
            &.sort-up {
              &:after {
                content: '✔';
                left: .35rem;
                position: absolute;
                top: .5rem;
              }
            }

            &:before {
              content: '';
            }

            &:hover {
              background: $accent-color-lightest;
              color: $text-color-darker;
              transition: none $effect-on-duration ease-out;
              transition-property: background, color;

              span:before {
                display: inline;
              }
            }

            &:active {
              background: $accent-color;
              color: #fff;
              transition: all $effect-on-duration ease-out;

              span{
                &:after {
                  border-bottom-color: #ccc;
                  border-top-color: #ccc;
                  opacity: .4;
                }

                &:before {
                  border-bottom-color: #fff;
                  border-top-color: #fff;
                  opacity: 1;
                }
              }
            }
          }

          tr {
            background: rgba(255, 255, 255, .96);
            border: 1px solid $accent-color;
            border-radius: $button-border-radius;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, .25);
            cursor: pointer;
            left: 0;
            padding: 0;
            position: absolute;
            top: -25px;

            &.hover:after {
              background: $accent-color-lightest;
              transition: all $effect-on-duration ease-out;
            }

            &.active:after {
              background: $accent-color;
              color: #fff;
              transition: all $effect-on-duration ease-out;
            }

            &:after {
              border-radius: 50%;
              color: $accent-color;
              content: '×';
              font: bold 1rem Tahoma, Verdana, sans-serif;
              height: 23px;
              line-height: 1.35;
              padding: 0;
              position: absolute;
              right: 2px;
              text-align: center;
              top: 2px;
              transition: all $effect-off-duration ease-in;
              width: 23px;
            }

            &:before {
              color: $text-color-lighter;
              content: 'Sort by:';
              display: block;
              font: .95rem $font-family-headers;
              padding: .25rem 0 .25rem .4rem;
            }
          }

          .eqid,
          .location {
            display: none;
          }
        }
      }
    }
  }
}
