@use '../util/opt/variables' as *;

@layer default {
  // Lightbox
  #fieldnotes img {
    max-width: 100%;
  }

  // Map popups
  .fieldnotes {
    dl,
    h4,
    p,
    time {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    dl {
      margin-top: .75rem;
    }

    img {
      display: block;
      margin: 0 auto;
      max-height: 300px;
      max-width: 100%;
      position: relative;
      z-index: 1001;
    }

    time {
      color: var(--text-color-lighter);
    }

    .leaflet-popup-content-wrapper {
      padding-left: 0;
      padding-right: 0;
    }

    .operator {
      border-top: 1px solid var(--border-color-lighter);
      margin-bottom: 0;
      margin-top: 1.5rem;

      a {
        display: inline-block;
        padding-top: .25rem;
      }
    }

    .photo {
      display: block;
      min-height: 200px;
      position: relative;
    }

    .props {
      max-height: 25rem;
      opacity: 1;
      overflow: hidden;
      transition: $effect-slide-duration ease-in-out {
        property: max-height, opacity;
      };

      &.hide {
        max-height: 0;
        opacity: 0;
      }
    }

    .toggle {
      line-height: 1;
      margin-bottom: 0;
      position: relative;

      &:before {
        border: .25rem solid transparent {
          left: .375rem solid var(--accent-color);
          right: none;
        };
        content: '';
        height: 0;
        left: 0;
        position: absolute;
        top: .25rem;
        transform: rotate(0deg);
        transition: transform $effect-duration ease-in-out;
        width: 0;
      }

      &.on:before {
        transform: rotate(90deg);
      }

      a {
        margin-left: .625rem;
      }
    }
  }
}

@layer overrides {
  .fieldnotes .leaflet-popup-content {
    margin: .75rem 0; // "full-bleed" photos
  }
}
