.leaflet-popup .fieldnotes {
  dl {
    margin-top: .5em;
  }
  dt {
    width: 7.5em;
  }
  img {
    max-width: 100%;
  }
  time {
    color: #555;
    font-size: .9em;
    margin-top: 4px;
  }

  /* Hide custom props by default */
  .hide + .custom {
    display: none;
  }

  .operator {
    a {
      display: inline-block;
      padding-top: 3px;
    }

    border-top: 1px solid $border-color-lighter;
    margin-top: 1.5em;
  }

  .properties {
    line-height: 1;
    margin-bottom: 0;
    position: relative;

    a {
      padding-left: 10px;
      position: relative;

      &:active {
        color: $accent-color;
      }
    }

    &:before {
      border-bottom: 4px solid transparent;
      border-left: 6px solid $accent-color;
      border-top: 4px solid transparent;
      content: '';
      height: 0;
      left: 0;
      position: absolute;
      top: .2em;
      transition: all .25s;
      width: 0;
    }
  }

  /* Rotate triangle down to point down when custom props are visible */
  :not(.hide):before {
    transform: rotate(90deg);
  }
}
