@use 'sass:color';

@use '../util/variables' as *;

#summaryPane {
  .forecast {
    h3 {
      margin-top: 0;
    }
    h4 {
      margin: 0;
    }

    #timeframe {
      margin-bottom: 1.5rem;
    }

    .params {
      margin: .5rem 0 1.5rem;
      max-height: 35rem;
      opacity: 1;
      overflow: hidden;
      transition: all $effect-slide-duration ease-in-out;

      &.hide {
        margin: 0;
        max-height: 0;
        opacity: 0;

        dd,
        dt {
          line-height: 0; // removes 'phantom margin' in Safari (below bubble)
        }
      }

      dd,
      dt {
        line-height: 1.75;
        transition: all $effect-slide-duration ease-in-out;
      }
      dd {
        max-width: 7rem;
      }
    }

    .probabilities {
      line-height: 1;
      list-style: none;
      margin: 0;
      padding: 0;

      &+ h4 {
        align-items: baseline;
        display: flex;
        margin-top: 1.25rem;

        a {
          margin-left: .375rem;
        }
      }

      a {
        border: 1px solid var(--border-color);
        border-radius: $button-border-radius;
        color: var(--text-color);
        display: block;
        text-align: center;
        text-decoration: none;
        transition: all $effect-off-duration ease-in;
        width: 6rem;

        &:hover {
          border-color: var(--accent-color);
          color: var(--text-color-darker);
          transition: all $effect-on-duration ease-out;

          abbr {
            border-color: color.scale($text-color-lightest, $lightness: -5%);
            color: var(--text-color-darker);
            transition: all $effect-on-duration ease-out;
          }

          h5 {
            background: var(--accent-color-lightest);
            color: var(--text-color-darker);
            transition: all $effect-on-duration ease-out;
          }
        }

        &:active {
          h5 {
            background: var(--accent-color);
            color: #fff;
          }
        }
      }

      abbr {
        display: inline-block;
        font-size: .8125rem;
        font-weight: 300;
        margin-top: 5px;
        transition: all $effect-off-duration ease-in;
      }

      h5 {
        background: var(--bg-color-darker);
        border-radius: $button-border-radius $button-border-radius 0 0;
        color: var(--text-color);
        font-size: 1.25rem;
        margin: 0;
        padding: 4px 0;
        transition: all $effect-off-duration ease-in;
      }

      ol {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        > li {
          margin-right: 1rem;

          &:last-child {
            margin: 0;
          }
        }
      }

      ul {
        list-style: none;
        margin: .75rem 0 1rem;
        padding: 0;
      }

      .hide {
        display: none;
      }
    }

    .probability {
      font: 1.25rem $font-family-mmi;
    }
  }
}

/* Toggle between user/UTC time
--------------------------------------------- */

body.user .forecast time.utc,
body.utc .forecast time.user {
  display: none;
}
