@use '../mixins' as *;
@use '../variables' as *;

#summaryPane {
  #download {
    margin-top: .5rem;
    padding-bottom: 3px;
    padding-top: 3px;

    &:after {
      content: 'Event Summary';
    }
  }

  .details {
    max-width: 100%;
    overflow: scroll;

    li {
      align-items: center;
      border-right: 1px solid $border-color-lighter;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0 1rem;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border: none;
      }

      > small,
      > span {
        white-space: nowrap;
      }
      > small {
        color: $text-color-lighter;
        font-size: .8125rem;
        font-weight: 300;
        letter-spacing: 0.015rem;
        line-height: 1.5;
      }
      > span {
        font-size: 1.125rem;
      }

      > strong {
        @include labels;

        padding-bottom: .25rem;
      }
    }

    ul {
      display: flex;
      margin: 0;
      padding: 0;
    }

    .impact-bubble {
      width: 4.25rem;

      abbr {
        display: none;
      }
    }

    .location {
      position: relative;

      span {
        font-size: 1rem;
        line-height: 1.25;
        position: absolute;
        text-align: center;
        top: 1.7rem;
        white-space: normal;
      }
    }

    .mag {
      span {
        font-size: 1.75rem;
        line-height: 1;
      }
    }

    .shake-alert {
      a {
        line-height: 1;
      }

      img {
        width: 28px;
      }

      small {
        text-transform: capitalize;
      }

      strong {
        position: relative;
      }

      sup {
        color: $text-color-lightest;
        font-size: .75rem;
        position: absolute;
        right: -.75rem;
      }
    }

    .status {
      small {
        text-transform: capitalize;
      }

      span {
        color: green;
      }
    }

    .tsunami {
      height: 2.125rem;
      top: -13px;

      img {
        border-radius: $button-border-radius;
      }
    }
  }

  .download {
    button {
      margin-bottom: .5rem;
    }
  }

  .mainshock {
    h4 {
      text-align: center;
    }

    .bubble {
      margin: 1rem .5rem 0;

      &.details {
        margin: 0 0 -.4375rem 0 ;
        padding-right: 0;
      }
    }
  }

  .pager {
    &.bubble {
      padding: 1rem .5rem;
    }

    h4 {
      margin-top: 1rem;

      &:first-of-type {
        margin-top: 0;
      }
    }

    img {
      max-width: 100%;
    }
  }

  .products {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5rem;

    div {
      max-width: 100%;
      width: 400px;

      &.tectonic {
        max-width: 100%;
        width: 816px;

        h2 {
          display: none;
        }

        p:last-child {
          margin-bottom: .25rem;
        }
      }
    }

    h3 {
      margin-top: 0;
    }

    .hide { // missing product
      display: none !important;
    }
  }

  .thumbs {
    flex-wrap: wrap;
    padding: 1rem .5rem 0;

    &.bubble {
      display: flex;
    }

    a {
      display: block;
      margin-bottom: 1rem;
    }

    canvas,
    img {
      max-width: 100%;
    }
    img {
      border: 2px solid #ccc;
      border-radius: $button-border-radius;
      padding: 2px;

      &.mmiI {
        border-color: $border-color-lighter; // add subtle grey border so button shows up
      }
      &.mmiII {
        border-color: $mmiII-color;
      }
      &.mmiIII {
        border-color: $mmiIII-color;
      }
      &.mmiIV {
        border-color: $mmiIV-color;
      }
      &.mmiV {
        border-color: $mmiV-color;
      }
      &.mmiVI {
        border-color: $mmiVI-color;
      }
      &.mmiVII {
        border-color: $mmiVII-color;
      }
      &.mmiVIII {
        border-color: $mmiVIII-color;
      }
      &.mmiIX {
        border-color: $mmiIX-color;
      }
      &.mmiX {
        border-color: $mmiX-color;
      }
      &.mmiXI {
        border-color: $mmiXI-color;
      }
      &.mmiXII {
        border-color: $mmiXII-color;
      }
    }

    div {
      padding: 0 .5rem;
      width: 50%;
    }
  }
}

// @media only screen
//   and (max-width: 890px) {
// }
