#summaryPane {
  .event-summary {
    margin-top: 1em;
    padding-left: 32px;
    position: relative;

    img {
      left: 12px;
      position: absolute;
      top: 8px;
    }
  }

  .hide { /* missing product */
    display: none;
  }

  .mainshock > div {
    display: flex;
    flex-wrap: wrap;
  }

  .pager-cities,
  .products {
    margin: 0 0 1em 0;
    max-width: 100%;
    width: 420px;
  }

  .pager-cities {
    border-left: 1px solid $border-color-lightest;
    padding-left: 40px;

    h4 {
      margin-top: 0;
    }

    table {
      margin-top: .5em;
      width: 100%;
    }
    td, th {
      padding: 0.25em;
    }
    td:nth-child(3) {
      text-align: right;
    }
    tr {
      border: none; /* override general table border styles */
      border-top: 1px solid $border-color-lighter;

      &.city,
      &:first-child {
        border: none;
      }
      &:last-child {
        border-bottom: 1px solid $border-color-lighter;
      }
    }

    .city td {
      color: $text-color-lightest;
      padding: 0 .25em .3em .25em;
    }
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    padding-right: 40px;

    > div { /* covers implicit ".one-up" (one product per row) scenario */
      width: 100%;
    }

    h4 {
      margin: 0;
      text-align: center;

      &+img,
      &+canvas {
        margin-top: .5em;
      }
    }

    .dyfi img,
    .shakemap img {
      border: 2px solid #ccc;
      border-radius: 5px;
      padding: 2px;
    }

    .earthquake h4 {
      text-align: left;
    }

    .two-up { /* two products per row */
      max-width: 190px;
      width: 50%;

      a {
        display: block;
        margin: 1em .75em 0 .75em;
      }
      canvas, img {
        width: 100%;
      }

      &:nth-child(2n) a { /* first product in row */
        margin-left: 0;
      }
      &:nth-child(2n+1) a { /* second product in row */
        margin-right: 0;
      }
    }
  }
}

@media only screen
  and (max-width: 890px) {
    #summaryPane {
      .mainshock > div {
        display: block;
      }

      .pager-cities,
      .products {
        border: none;
        padding: 0;
        width: 380px; /* accounts for loss of 40px padding */
      }
    }
}
