@use '../util/opt/mixins' as *;
@use '../util/opt/variables' as *;

@layer default {
  #summary-pane {
    .details {
      line-height: 1;
      max-width: 100%;
      padding: 1.125rem 0 1.125rem 1rem;
      overflow: scroll;

      a.tsunami {
        height: 2rem;
      }

      li {
        align-items: center;
        border-right: 1px solid var(--border-color-lighter);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding: 0 1rem;

        &.feature,
        &.tsunami {
          cursor: pointer;
        }

        &.mag {
          padding-left: .25rem;
        }

        &.updated {
          border: none;
          padding-right: 1.25rem;
        }

        > strong {
          @include labels;

          padding-bottom: .375rem;
        }
      }

      small,
      span {
        white-space: nowrap;
      }

      small {
        color: var(--text-color-darker);
        font-size: $font-size-smaller;
        font-weight: 300;
        letter-spacing: .025rem;
        margin-top: .25rem;
      }

      span {
        font-size: $font-size-larger;

        span {
          display: none; // depth unit
        }
      }

      ul {
        display: flex;
      }

      .impact-bubble {
        line-height: normal;
        width: 4.25rem;

        abbr {
          display: none;
        }
      }

      .location {
        position: relative;

        span {
          font-size: $font-size;
          line-height: 1.25;
          position: absolute;
          text-align: center;
          top: 1.5rem;
          white-space: normal;
        }
      }

      .mag span {
        font-size: 1.75rem;
      }
    }

    .download {
      button:after {
        content: 'Event Summary';
      }

      button + p {
        color: var(--text-color-lighter);
        font-size: $font-size-smaller;
        margin: 1rem 0 0;
      }
    }

    .links ul {
      margin-bottom: .25rem;
    }

    .links,
    .nearby-cities {
      li {
        margin-top: .5rem;
      }

      ul {
        line-height: $line-height-alt;
        margin-top: 1.375rem;
      }
    }

    .mainshock {
      .bubble {
        margin-top: 1rem;

        &.details {
          margin: 0 0 -.25rem 0;
        }
      }

      .thumbs {
        display: flex;
      }
    }

    .notice {
      margin-top: .5rem;
      max-width: none;
    }

    .pager-exposures {
      cursor: pointer;

      table {
        width: 100%;
      }
    }

    .pager-loss {
      cursor: pointer;

      h4:nth-of-type(2) {
        margin-top: 1.5rem;
      }

      img {
        border-radius: $content-border-radius;
        max-width: 100%;
      }
    }

    .products {
      display: grid;

      div {
        max-width: 100%;
        width: $panel-width;

        &.tectonic {
          width: calc(2 * $panel-width + 1rem);
        }
      }

      h4 {
        margin: .125rem 0 0;
        text-align: center;
      }
    }

    .shake-alert {
      i {
        color: #03865a;
        font-size: 1.5rem;
      }

      small {
        text-transform: capitalize;
      }

      strong {
        position: relative;
      }

      sup {
        display: none;
      }
    }

    .status small {
      text-transform: capitalize;
    }

    .tectonic {
      line-height: $line-height; // <p> tags missing sometimes

      h1,
      h2 {
        display: none;
      }

      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
      }

      p:last-child {
        margin-bottom: .25rem;
      }
    }

    .thumbs {
      &.hide {
        display: none;
      }

      @include impact-borders;

      flex-wrap: wrap;
      padding: 1rem .5rem 0;

      a,
      h4 {
        cursor: pointer;
      }

      a {
        display: block;
        margin-bottom: 1rem;
      }

      h4 {
        padding-bottom: .5rem;
      }

      canvas,
      img {
        max-width: 100%;
      }

      div {
        padding: 0 .5rem;
        width: 50%;
      }
    }

    .updated {
      position: relative;

      em {
        display: block;
        font-size: $font-size;
        font-style: normal;
        margin-top: .125rem;
      }

      span {
        font-size: $font-size-smallest;
        position: absolute;
        text-align: center;
        top: 1.375rem;
      }
    }
  }

  /**
   * Double-difference label in header
   * (scoped to body.mainshock so loader is not affected)
   */
  body.mainshock #summary-pane .mainshock {
    h2 {
      flex-direction: column;

      span {
        font-size: 1.2rem;
        margin-bottom: -.25rem;

        &.hide {
          display: none;
        }
      }
    }
  }
}
