@layer default {
  .exposures {
    margin: -.125rem 0 -.375rem;

    tbody tr {
      border-bottom: none; // remove default table borders
      border-top: 1px solid var(--border-color-lighter);

      &:first-child,
      &.city {
        border: none;
      }
    }

    td,
    th {
      padding: .25rem .375rem;

      &:first-child {
        padding-left: .25rem;
        width: 3.5rem;
      }

      &:last-child {
        padding-right: .25rem;
        text-align: right;
      }
    }

    td {
      font-weight: 500;
    }

    .city td {
      font-weight: normal;
      padding-bottom: .5rem;
      padding-top: 0;
    }
  }
}
