@use '../util/opt/variables' as *;

@layer default {
  #pager {
    h3 .impact-bubble {
      width: 4.25rem;
    }

    img {
      max-width: 100%;
      width: calc($panel-width - 1rem);
    }

    p {
      max-width: calc($panel-width * 3);
    }

    .exposure {
      > div {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem 2.5rem;
      }

      h4 {
        margin-bottom: 1.25rem;
      }

      img {
        margin-top: .5rem;
      }

      p {
        margin: 0;
      }

      table {
        width: calc($panel-width - 2rem);
      }
    }

    .loss {
      width: calc($panel-width - 1rem);

      h4 {
        margin-bottom: 0;
      }

      img {
        border-radius: $content-border-radius;
      }

      p {
        margin-top: 0;
      }
    }

    .wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem 1.5rem;
    }

    @media only screen and (max-width: calc(83rem - 1px)) {
      .exposure {
        order: 1;
      }

      .loss {
        order: 2;
      }
    }

    @media only screen and (max-width: 26rem) {
      .exposure table {
        width: 100%;
      }
    }
  }
}
