@use '../util/variables' as *;

table.exposures {
  margin: 0;

  tbody tr {
    border-bottom: none; // override general table border styles
    border-top: 1px solid var(--border-color-lighter);

    &.city,
    &:first-child {
      border: none;
    }
  }

  td,
  th {
    padding: 0.25rem .375rem;

    &:nth-child(1) {
      width: 3.5rem;
      padding-left: .25rem;
    }
    &:nth-child(3) {
      padding-right: .25rem;
      text-align: right;
    }
  }
  td {
    font-weight: 500;
  }

  .city td {
    color: var(--text-color-lighter);
    font-weight: 400;
    line-height: 1.4;
    padding-bottom: .375rem;
    padding-top: .125rem;
  }
}
