@use '../variables' as *;

#summaryPane {
  .pager-exposures {
    table {
      margin: 1rem 0 0;
      width: 100%;
    }

    tbody tr {
      border-bottom: none; // override general table border styles
      border-top: 1px solid $border-color-lighter;

      &.city {
        border: none;
      }

      &:first-child {
        border: none;
      }
    }

    td,
    th {
      padding: 0.25rem .375rem;

      &:nth-child(1) {
        width: 3.5rem;
        padding-left: .25rem;
      }
      &:nth-child(3) {
        padding-right: .25rem;
        text-align: right;
      }
    }

    .city td {
      color: $text-color-lighter;
      line-height: 1.4;
      padding-bottom: .375rem;
      padding-top: .125rem;
    }
  }
}
