@use '../util/variables' as *;

#shake-alert {
  dl {
    max-width: 21rem;
  }

  h3 {
    align-items: flex-start;
    gap: 0 .25rem;
  }

  h4 span,
  sup {
    color: $text-color-lighter;
    font-size: .75em;
  }

  td {
    &:nth-child(2) {
      padding-right: 1.25rem;
      text-align: right;
    }
    &:nth-child(3) {
      padding-right: 2.75rem;
      text-align: right;
    }
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;

    strong {
      font-weight: 500;
    }
  }

  .impact-bubble {
    margin: 0 auto;
    width: 3.5rem;
  }

  .issued {
    margin-top: 0;
  }

  .logo {
    max-width: 20rem;
    position: sticky;
    top: 4rem;

    a {
      display: block;
      margin: 0 auto;
      max-width: 15rem;
      padding: 0;
    }

    h4 {
      font-size: 1.375rem;
    }

    img {
      max-width: 100%;
    }
  }

  .wrapper {
    align-items: flex-start;
    display: flex;
    gap: 2rem;
    position: relative;
  }
}

@media only screen
and (max-width: $breakpoint-phone-width) {
  #shake-alert {
    a {
      margin-top: 1rem;
    }

    .wrapper {
      flex-flow: row wrap;
    }

    .details,
    .logo {
      max-width: 100%;
    }
  }
}
