@use '../variables' as *;

.station-channels-map {
  margin: 1rem 0;

  td,
  th {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  tr {
    white-space: nowrap;
  }

  .station-channel-name {
    border-color: $border-color-lighter;
  }
}

.station-layer-icon {
  opacity: 0.85;
  position: absolute;

  &:after {
    border: 12px solid transparent;
    border-bottom-color: rgba(0, 0, 0, .6);
    border-left-width: 8px;
    border-right-width: 8px;
    content: ' ';
    display: block;
    left: -1px;
    position: absolute;
    top: -13px;
    z-index: 1;
  }
  &:before {
    border: 10px solid transparent;
    border-left-width: 6px;
    border-right-width: 6px;
    content: ' ';
    display: block;
    left: 1px;
    position: absolute;
    top: -10px;
    z-index: 2;
  }
}

.station-metadata {
  margin: 1.5rem 0;
}

/* Leaflet marker colors */
.station-mmiI:before {
  border-bottom-color: $mmiI-color;
}
.station-mmiII:before {
  border-bottom-color: $mmiII-color;
}
.station-mmiIII:before {
  border-bottom-color: $mmiIII-color;
}
.station-mmiIV:before {
  border-bottom-color: $mmiIV-color;
}
.station-mmiV:before {
  border-bottom-color: $mmiV-color;
}
.station-mmiVI:before {
  border-bottom-color: $mmiVI-color;
}
.station-mmiVII:before {
  border-bottom-color: $mmiVII-color;
}
.station-mmiVIII:before {
  border-bottom-color: $mmiVIII-color;
}
.station-mmiIX:before {
  border-bottom-color: $mmiIX-color;
}
.station-mmiX:before {
  border-bottom-color: $mmiX-color;
}
.station-mmiXI:before {
  border-bottom-color: $mmiXI-color;
}
.station-mmiXII:before {
  border-bottom-color: $mmiXII-color;
}

.station-summary {
  display: block;
  list-style: none;
  padding: 0;

  &:after {
    clear: both;
    content: ' ';
    display: block;
  }

  abbr {
    clear: left;
    color: $text-color-lightest;
    display: inline-block;
    font-size: .6875rem;
    margin-top: .25rem;
  }

  li {
    display: inline-block;
    float: left;
    line-height: 1;
    padding: 4px;
    text-align: center;
    width: 25%;
  }

  .mmiI {
    background-color: $mmiI-color;
    box-shadow: 0 0 1px #666;
  }
  .mmiII {
    background-color: $mmiII-color;
  }
  .mmiIII {
    background-color: $mmiIII-color;
  }
  .mmiIV {
    background-color: $mmiIV-color;
  }
  .mmiV {
    background-color: $mmiV-color;
  }
  .mmiVI {
    background-color: $mmiVI-color;
  }
  .mmiVII {
    background-color: $mmiVII-color;
  }
  .mmiVIII {
    background-color: $mmiVIII-color;
  }
  .mmiIX {
    background-color: $mmiIX-color;
  }
  .mmiX {
    background-color: $mmiX-color;
  }
  .mmiXI {
    background-color: $mmiXI-color;
  }
  .mmiXII {
    background-color: $mmiXII-color;
  }

  .roman {
    font-family: $font-family-mmi;
    text-transform: uppercase;
  }
}

.station-summary-intensity {
  color: $text-color;

  > abbr {
    border-bottom-color: $text-color;
    color: $text-color;
  }
}
