@use '../util/opt/variables' as *;

@layer default {
  #significant-eqs {
    border-bottom: 1px solid var(--border-color-lighter);
    border-top: 1px solid var(--border-color);
    min-height: 3.5rem;
    position: relative; // for loading spinner

    > h4 { // no Significant Eqs msg
      margin: 1rem 0;
    }

    li {
      align-items: center;
      border-bottom: 1px solid var(--border-color-lighter);
      column-gap: .75rem;
      display: flex;
      margin: 0;
      padding: .5rem .25rem;
      transition: $effect-duration ease-in-out {
        property: background, color;
      };

      &:last-child {
        border: none;
      }

      &:hover {
        background: var(--accent-color-lightest);
        color: var(--text-color-darker);
        cursor: pointer;
        transition-duration: $effect-on-duration;

        time {
          color: var(--text-color);
          transition-duration: $effect-on-duration;
        }
      }

      &:active,
      &.selected {
        background: var(--accent-color);
        color: var(--bg-color);

        &:hover {
          cursor: auto;
        }

        time {
          color: var(--bg-color);
          transition-duration: $effect-on-duration;
        }
      }

      div:first-of-type {
        align-items: center;
        display: flex;
        flex-direction: column;
        row-gap: .25rem;
      }

      h4 {
        font-size: $font-size-larger;
        margin: -.125rem 0 .375rem;
      }
    }

    time {
      color: var(--text-color-lighter);
      transition: color $effect-duration ease-in-out;
    }

    .mag {
      font-size: 1.25rem;
      line-height: 1;
    }

    // hide bubbles w/ no assigned MMI value
    .mmiN\/A {
      height: 0;
      padding: 0;
      visibility: hidden;
    }

    .spinner {
      top: 30%;
    }
  }
}
