@use '../util/variables' as *;

#significant-eqs {
  border-bottom: 1px solid var(--border-color-lighter);
  border-top: 1px solid var(--border-color);
  min-height: 4rem;
  position: relative;

  > h4 { // no Significant Eqs msg
    margin: 0;
    padding: 1rem 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    h4 {
      font-size: 1.125rem;
      margin-bottom: .125rem;
    }

    li {
      align-items: center;
      border-bottom: 1px solid var(--border-color-lighter);
      display: flex;
      margin: 0;
      padding: .5rem .25rem;
      transition: all $effect-off-duration ease-in;

      &:hover {
        background: var(--accent-color-lightest);
        color: var(--text-color-darker);
        cursor: pointer;
        transition: all $effect-on-duration ease-out;

        time {
          color: var(--text-color);
          transition: color $effect-on-duration ease-out;
        }
      }

      &:last-child {
        border: none;
      }

      &:active,
      &.selected {
        background: var(--accent-color);
        color: #fff;
        transition: all $effect-on-duration ease-out;

        &:hover {
          cursor: auto;
        }

        time {
          color: #fff;
          transition: color $effect-on-duration ease-out;
        }
      }

      > div:first-of-type {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-right: .75rem;
      }

      span.mmi {
        visibility: hidden; /* hide empty (no MMI assigned) bubbles */
      }

      .mag {
        font-size: 1.25rem;
        line-height: 1;
        padding-bottom: .25rem;
      }
    }

    time {
      color: var(--text-color-lighter);
      margin: 0;
      transition: color $effect-off-duration ease-in;
    }
  }

  .spinner {
    top: 33%;
  }
}

/* Toggle between user/UTC time
--------------------------------------------- */

body.user #significant-eqs time.utc,
body.utc #significant-eqs time.user {
  display: none;
}
