.bubble,
.mmi {
  display: block;
  line-height: 1;
  text-align: center;

  > span {
    display: block;
    max-width: 100%;
    color: #000;
  }

  > abbr {
    color: $text-color-lighter;
    font-size: 0.8em;
  }
}

.bubble-border,
.mmi {
  border-radius: 2px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
  padding: 0.5em 0;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.station-summary {
  display: block;
  list-style: none;
  padding: 0;

  > li {
    display: inline-block;
    float: left;
    line-height: 1;
    padding: 4px;
    text-align: center;
    width: 25%;

    > abbr {
      clear: left;
      color: $text-color-lightest;
      font-size: .6875em;
    }
  }

  &:after {
    clear: both;
    content: ' ';
    display: block;
  }

  .mmiI {
    background-color: $mmiI-color !important;
    box-shadow: 0 0 1px #666;
    color: $mmiI-text-color !important;

    > abbr {
      color: $mmiI-text-color !important;
    }
  }

  .mmiII {
    background-color: $mmiII-color !important;
    color: $mmiII-text-color !important;

    > abbr {
      color: $mmiII-text-color !important;
    }
  }

  .mmiIII {
    background-color: $mmiIII-color !important;
    color: $mmiIII-text-color !important;

    > abbr {
      color: $mmiIII-text-color !important;
    }
  }

  .mmiIV {
    background-color: $mmiIV-color !important;
    color: $mmiIV-text-color !important;

    > abbr {
      color: $mmiIV-text-color !important;
    }
  }

  .mmiV {
    background-color: $mmiV-color !important;
    color: $mmiV-text-color !important;

    > abbr {
      color: $mmiV-text-color !important;
    }
  }

  .mmiVI {
    background-color: $mmiVI-color !important;
    color: $mmiVI-text-color !important;

    > abbr {
      color: $mmiVI-text-color !important;
    }
  }

  .mmiVII {
    background-color: $mmiVII-color !important;
    color: $mmiVII-text-color !important;

    > abbr {
      color: $mmiVII-text-color !important;
    }
  }

  .mmiVIII {
    background-color: $mmiVIII-color !important;
    color: $mmiVIII-text-color !important;

    > abbr {
      color: $mmiVIII-text-color !important;
    }
  }

  .mmiIX {
    background-color: $mmiIX-color !important;
    color: $mmiIX-text-color !important;

    > abbr {
      color: $mmiIX-text-color !important;
    }
  }

  .mmiX {
    background-color: $mmiX-color !important;
    color: $mmiX-text-color !important;

    > abbr {
      color: $mmiX-text-color !important;
    }
  }

  .mmiXI {
    background-color: $mmiXI-color !important;
    color: $mmiXI-text-color !important;

    > abbr {
      color: $mmiXI-text-color !important;
    }
  }

  .mmiXII {
    background-color: $mmiXII-color !important;
    color: $mmiXII-text-color !important;

    > abbr {
      color: $mmiXII-text-color !important;
    }
  }

  .roman {
    font-family: $mmi-font-family;
    text-transform: uppercase;
  }
}

.station-summary-intensity {
  text-align: center;

  > abbr {
    color: #999;
    font-size: .6875em;
  }
}

.station-channels-map {
  td, th {
    padding-left: .5em;
    padding-right: .5em;
  }
  tr {
    white-space: nowrap;
  }

  .station-channel-name {
    border-color: $border-color-lighter;
  }
}

.station-layer-icon {
  opacity: 0.85;
  position: absolute;

  &:before {
    border: 10px solid transparent;
    border-left-width: 6px;
    border-right-width: 6px;
    content: ' ';
    display: block;
    left: 1px;
    position: absolute;
    top: -10px;
    z-index: 2;
  }

  &:after {
    border: 12px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.6);
    border-left-width: 8px;
    border-right-width: 8px;
    content: ' ';
    display: block;
    left: -1px;
    position: absolute;
    top: -13px;
    z-index: 1;
  }
}

.station-mmiI:before {
  border-bottom-color: $mmiI-color;
}
.station-mmiII:before {
  border-bottom-color: $mmiII-color;
}
.station-mmiIII:before {
  border-bottom-color: $mmiIII-color;
}
.station-mmiIV:before {
  border-bottom-color: $mmiIV-color;
}
.station-mmiV:before {
  border-bottom-color: $mmiV-color;
}
.station-mmiVI:before {
  border-bottom-color: $mmiVI-color;
}
.station-mmiVII:before {
  border-bottom-color: $mmiVII-color;
}
.station-mmiVIII:before {
  border-bottom-color: $mmiVIII-color;
}
.station-mmiIX:before {
  border-bottom-color: $mmiIX-color;
}
.station-mmiX:before {
  border-bottom-color: $mmiX-color;
}
.station-mmiXI:before {
  border-bottom-color: $mmiXI-color;
}
.station-mmiXII:before {
  border-bottom-color: $mmiXII-color;
}
